@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?4ebtsl');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?4ebtsl#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?4ebtsl') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?4ebtsl') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?4ebtsl##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scicon-zotero-wordmark {
  &:before {
    content: $scicon-zotero-wordmark; 
  }
}
.scicon-zoterobib {
  &:before {
    content: $scicon-zoterobib; 
  }
}
.scicon-zotero {
  &:before {
    content: $scicon-zotero; 
  }
}
.scicon-zendesk-wordmark {
  &:before {
    content: $scicon-zendesk-wordmark; 
  }
}
.scicon-zendesk {
  &:before {
    content: $scicon-zendesk; 
  }
}
.scicon-zapier {
  &:before {
    content: $scicon-zapier; 
  }
}
.scicon-youtube-wordmark {
  &:before {
    content: $scicon-youtube-wordmark; 
  }
}
.scicon-youtube-text {
  &:before {
    content: $scicon-youtube-text; 
  }
}
.scicon-youtube-play {
  &:before {
    content: $scicon-youtube-play; 
  }
}
.scicon-youtube {
  &:before {
    content: $scicon-youtube; 
  }
}
.scicon-yarn-wordmark {
  &:before {
    content: $scicon-yarn-wordmark; 
  }
}
.scicon-yarn-text {
  &:before {
    content: $scicon-yarn-text; 
  }
}
.scicon-yarn {
  &:before {
    content: $scicon-yarn; 
  }
}
.scicon-yandex-wordmark {
  &:before {
    content: $scicon-yandex-wordmark; 
  }
}
.scicon-yandex-ru-wordmark {
  &:before {
    content: $scicon-yandex-ru-wordmark; 
  }
}
.scicon-yandex-ru {
  &:before {
    content: $scicon-yandex-ru; 
  }
}
.scicon-yandex {
  &:before {
    content: $scicon-yandex; 
  }
}
.scicon-yaml {
  &:before {
    content: $scicon-yaml; 
  }
}
.scicon-yahoo-wordmark {
  &:before {
    content: $scicon-yahoo-wordmark; 
  }
}
.scicon-yahoo {
  &:before {
    content: $scicon-yahoo; 
  }
}
.scicon-x-corp {
  &:before {
    content: $scicon-x-corp; 
  }
}
.scicon-xbox {
  &:before {
    content: $scicon-xbox; 
  }
}
.scicon-xai {
  &:before {
    content: $scicon-xai; 
  }
}
.scicon-wordpress {
  &:before {
    content: $scicon-wordpress; 
  }
}
.scicon-wixcom {
  &:before {
    content: $scicon-wixcom; 
  }
}
.scicon-wikipedia {
  &:before {
    content: $scicon-wikipedia; 
  }
}
.scicon-wikimedia-wordmark {
  &:before {
    content: $scicon-wikimedia-wordmark; 
  }
}
.scicon-wikimedia-text {
  &:before {
    content: $scicon-wikimedia-text; 
  }
}
.scicon-wikimedia-commons {
  &:before {
    content: $scicon-wikimedia-commons; 
  }
}
.scicon-wikimedia {
  &:before {
    content: $scicon-wikimedia; 
  }
}
.scicon-whatsapp {
  &:before {
    content: $scicon-whatsapp; 
  }
}
.scicon-wayback-machine {
  &:before {
    content: $scicon-wayback-machine; 
  }
}
.scicon-w3c {
  &:before {
    content: $scicon-w3c; 
  }
}
.scicon-vuejs {
  &:before {
    content: $scicon-vuejs; 
  }
}
.scicon-vsc-insiders {
  &:before {
    content: $scicon-vsc-insiders; 
  }
}
.scicon-visual-studio-code {
  &:before {
    content: $scicon-visual-studio-code; 
  }
}
.scicon-visual-studio {
  &:before {
    content: $scicon-visual-studio; 
  }
}
.scicon-vimeo-text {
  &:before {
    content: $scicon-vimeo-text; 
  }
}
.scicon-vimeo {
  &:before {
    content: $scicon-vimeo; 
  }
}
.scicon-vercel-wordmark {
  &:before {
    content: $scicon-vercel-wordmark; 
  }
}
.scicon-vercel {
  &:before {
    content: $scicon-vercel; 
  }
}
.scicon-usb {
  &:before {
    content: $scicon-usb; 
  }
}
.scicon-ups {
  &:before {
    content: $scicon-ups; 
  }
}
.scicon-unity-wordmark {
  &:before {
    content: $scicon-unity-wordmark; 
  }
}
.scicon-unity {
  &:before {
    content: $scicon-unity; 
  }
}
.scicon-ubuntu-alt {
  &:before {
    content: $scicon-ubuntu-alt; 
  }
}
.scicon-ubuntu {
  &:before {
    content: $scicon-ubuntu; 
  }
}
.scicon-typo3-wordmark {
  &:before {
    content: $scicon-typo3-wordmark; 
  }
}
.scicon-typo3 {
  &:before {
    content: $scicon-typo3; 
  }
}
.scicon-typescript-rounded {
  &:before {
    content: $scicon-typescript-rounded; 
  }
}
.scicon-typescript {
  &:before {
    content: $scicon-typescript; 
  }
}
.scicon-twitter {
  &:before {
    content: $scicon-twitter; 
  }
}
.scicon-twitch {
  &:before {
    content: $scicon-twitch; 
  }
}
.scicon-tumblr-text {
  &:before {
    content: $scicon-tumblr-text; 
  }
}
.scicon-tumblr {
  &:before {
    content: $scicon-tumblr; 
  }
}
.scicon-tubitak-wordmark {
  &:before {
    content: $scicon-tubitak-wordmark; 
  }
}
.scicon-tubitak {
  &:before {
    content: $scicon-tubitak; 
  }
}
.scicon-tua-wordmark {
  &:before {
    content: $scicon-tua-wordmark; 
  }
}
.scicon-tua {
  &:before {
    content: $scicon-tua; 
  }
}
.scicon-ttec-wordmark {
  &:before {
    content: $scicon-ttec-wordmark; 
  }
}
.scicon-ttec {
  &:before {
    content: $scicon-ttec; 
  }
}
.scicon-ts-node-wordmark {
  &:before {
    content: $scicon-ts-node-wordmark; 
  }
}
.scicon-ts-node {
  &:before {
    content: $scicon-ts-node; 
  }
}
.scicon-tplink-wordmark {
  &:before {
    content: $scicon-tplink-wordmark; 
  }
}
.scicon-tplink {
  &:before {
    content: $scicon-tplink; 
  }
}
.scicon-topaz-labs-wordmark {
  &:before {
    content: $scicon-topaz-labs-wordmark; 
  }
}
.scicon-topaz-labs {
  &:before {
    content: $scicon-topaz-labs; 
  }
}
.scicon-tiktok-text {
  &:before {
    content: $scicon-tiktok-text; 
  }
}
.scicon-tiktok {
  &:before {
    content: $scicon-tiktok; 
  }
}
.scicon-threads {
  &:before {
    content: $scicon-threads; 
  }
}
.scicon-teyit-alt {
  &:before {
    content: $scicon-teyit-alt; 
  }
}
.scicon-teyit {
  &:before {
    content: $scicon-teyit; 
  }
}
.scicon-tesla-wordmark {
  &:before {
    content: $scicon-tesla-wordmark; 
  }
}
.scicon-tesla-text {
  &:before {
    content: $scicon-tesla-text; 
  }
}
.scicon-tesla-inc {
  &:before {
    content: $scicon-tesla-inc; 
  }
}
.scicon-telegram-rounded {
  &:before {
    content: $scicon-telegram-rounded; 
  }
}
.scicon-telegram {
  &:before {
    content: $scicon-telegram; 
  }
}
.scicon-tailwind-wordmark {
  &:before {
    content: $scicon-tailwind-wordmark; 
  }
}
.scicon-tailwind {
  &:before {
    content: $scicon-tailwind; 
  }
}
.scicon-swift {
  &:before {
    content: $scicon-swift; 
  }
}
.scicon-sublime-text-wordmark {
  &:before {
    content: $scicon-sublime-text-wordmark; 
  }
}
.scicon-sublime-text {
  &:before {
    content: $scicon-sublime-text; 
  }
}
.scicon-stripe-s {
  &:before {
    content: $scicon-stripe-s; 
  }
}
.scicon-stripe {
  &:before {
    content: $scicon-stripe; 
  }
}
.scicon-steam {
  &:before {
    content: $scicon-steam; 
  }
}
.scicon-stackoverflow-wordmark {
  &:before {
    content: $scicon-stackoverflow-wordmark; 
  }
}
.scicon-stackoverflow-text {
  &:before {
    content: $scicon-stackoverflow-text; 
  }
}
.scicon-stackoverflow {
  &:before {
    content: $scicon-stackoverflow; 
  }
}
.scicon-squarespace-wordmark {
  &:before {
    content: $scicon-squarespace-wordmark; 
  }
}
.scicon-squarespace {
  &:before {
    content: $scicon-squarespace; 
  }
}
.scicon-sqlite-wordmark {
  &:before {
    content: $scicon-sqlite-wordmark; 
  }
}
.scicon-sqlite {
  &:before {
    content: $scicon-sqlite; 
  }
}
.scicon-spotify-wordmark {
  &:before {
    content: $scicon-spotify-wordmark; 
  }
}
.scicon-spotify-text {
  &:before {
    content: $scicon-spotify-text; 
  }
}
.scicon-spotify {
  &:before {
    content: $scicon-spotify; 
  }
}
.scicon-spacex-alt {
  &:before {
    content: $scicon-spacex-alt; 
  }
}
.scicon-spacex {
  &:before {
    content: $scicon-spacex; 
  }
}
.scicon-slack-wordmark {
  &:before {
    content: $scicon-slack-wordmark; 
  }
}
.scicon-slack {
  &:before {
    content: $scicon-slack; 
  }
}
.scicon-skype {
  &:before {
    content: $scicon-skype; 
  }
}
.scicon-shutterstock-wordmark {
  &:before {
    content: $scicon-shutterstock-wordmark; 
  }
}
.scicon-shutterstock {
  &:before {
    content: $scicon-shutterstock; 
  }
}
.scicon-shopify-wordmark {
  &:before {
    content: $scicon-shopify-wordmark; 
  }
}
.scicon-shopify-text {
  &:before {
    content: $scicon-shopify-text; 
  }
}
.scicon-shopify {
  &:before {
    content: $scicon-shopify; 
  }
}
.scicon-scihook-square {
  &:before {
    content: $scicon-scihook-square; 
  }
}
.scicon-scihook-alt {
  &:before {
    content: $scicon-scihook-alt; 
  }
}
.scicon-scihook {
  &:before {
    content: $scicon-scihook; 
  }
}
.scicon-scicon {
  &:before {
    content: $scicon-scicon; 
  }
}
.scicon-sass {
  &:before {
    content: $scicon-sass; 
  }
}
.scicon-samsung-alt {
  &:before {
    content: $scicon-samsung-alt; 
  }
}
.scicon-samsung {
  &:before {
    content: $scicon-samsung; 
  }
}
.scicon-rotten-tomatoes-wordmark {
  &:before {
    content: $scicon-rotten-tomatoes-wordmark; 
  }
}
.scicon-rotten-tomatoes {
  &:before {
    content: $scicon-rotten-tomatoes; 
  }
}
.scicon-researchgate-alt {
  &:before {
    content: $scicon-researchgate-alt; 
  }
}
.scicon-researchgate {
  &:before {
    content: $scicon-researchgate; 
  }
}
.scicon-redhat {
  &:before {
    content: $scicon-redhat; 
  }
}
.scicon-reddit-wordmark {
  &:before {
    content: $scicon-reddit-wordmark; 
  }
}
.scicon-reddit-text {
  &:before {
    content: $scicon-reddit-text; 
  }
}
.scicon-reddit-alt {
  &:before {
    content: $scicon-reddit-alt; 
  }
}
.scicon-reddit {
  &:before {
    content: $scicon-reddit; 
  }
}
.scicon-react {
  &:before {
    content: $scicon-react; 
  }
}
.scicon-razer-wordmark {
  &:before {
    content: $scicon-razer-wordmark; 
  }
}
.scicon-razer {
  &:before {
    content: $scicon-razer; 
  }
}
.scicon-raspberry-pi {
  &:before {
    content: $scicon-raspberry-pi; 
  }
}
.scicon-quora-alt {
  &:before {
    content: $scicon-quora-alt; 
  }
}
.scicon-quora {
  &:before {
    content: $scicon-quora; 
  }
}
.scicon-python {
  &:before {
    content: $scicon-python; 
  }
}
.scicon-product-hunt-wordmark {
  &:before {
    content: $scicon-product-hunt-wordmark; 
  }
}
.scicon-product-hunt {
  &:before {
    content: $scicon-product-hunt; 
  }
}
.scicon-prisma-wordmark {
  &:before {
    content: $scicon-prisma-wordmark; 
  }
}
.scicon-prisma {
  &:before {
    content: $scicon-prisma; 
  }
}
.scicon-prime-video {
  &:before {
    content: $scicon-prime-video; 
  }
}
.scicon-premiere-pro {
  &:before {
    content: $scicon-premiere-pro; 
  }
}
.scicon-prelude {
  &:before {
    content: $scicon-prelude; 
  }
}
.scicon-postman-wordmark {
  &:before {
    content: $scicon-postman-wordmark; 
  }
}
.scicon-postman {
  &:before {
    content: $scicon-postman; 
  }
}
.scicon-popsci {
  &:before {
    content: $scicon-popsci; 
  }
}
.scicon-playstore {
  &:before {
    content: $scicon-playstore; 
  }
}
.scicon-playstation {
  &:before {
    content: $scicon-playstation; 
  }
}
.scicon-pixabay {
  &:before {
    content: $scicon-pixabay; 
  }
}
.scicon-pinterest-wordmark {
  &:before {
    content: $scicon-pinterest-wordmark; 
  }
}
.scicon-pinterest-text {
  &:before {
    content: $scicon-pinterest-text; 
  }
}
.scicon-pinterest-alt {
  &:before {
    content: $scicon-pinterest-alt; 
  }
}
.scicon-pinterest {
  &:before {
    content: $scicon-pinterest; 
  }
}
.scicon-php-text {
  &:before {
    content: $scicon-php-text; 
  }
}
.scicon-php {
  &:before {
    content: $scicon-php; 
  }
}
.scicon-photoshop {
  &:before {
    content: $scicon-photoshop; 
  }
}
.scicon-philips {
  &:before {
    content: $scicon-philips; 
  }
}
.scicon-pexels-wordmark {
  &:before {
    content: $scicon-pexels-wordmark; 
  }
}
.scicon-pexels {
  &:before {
    content: $scicon-pexels; 
  }
}
.scicon-perl-camel {
  &:before {
    content: $scicon-perl-camel; 
  }
}
.scicon-perl {
  &:before {
    content: $scicon-perl; 
  }
}
.scicon-periodum {
  &:before {
    content: $scicon-periodum; 
  }
}
.scicon-paypal-wordmark {
  &:before {
    content: $scicon-paypal-wordmark; 
  }
}
.scicon-paypal-text {
  &:before {
    content: $scicon-paypal-text; 
  }
}
.scicon-paypal {
  &:before {
    content: $scicon-paypal; 
  }
}
.scicon-patreon-text {
  &:before {
    content: $scicon-patreon-text; 
  }
}
.scicon-patreon {
  &:before {
    content: $scicon-patreon; 
  }
}
.scicon-orcid {
  &:before {
    content: $scicon-orcid; 
  }
}
.scicon-oracle {
  &:before {
    content: $scicon-oracle; 
  }
}
.scicon-opensuse-wordmark {
  &:before {
    content: $scicon-opensuse-wordmark; 
  }
}
.scicon-opensuse-text {
  &:before {
    content: $scicon-opensuse-text; 
  }
}
.scicon-opensuse {
  &:before {
    content: $scicon-opensuse; 
  }
}
.scicon-openssl {
  &:before {
    content: $scicon-openssl; 
  }
}
.scicon-open-bug-bounty {
  &:before {
    content: $scicon-open-bug-bounty; 
  }
}
.scicon-openai-wordmark {
  &:before {
    content: $scicon-openai-wordmark; 
  }
}
.scicon-openai-text {
  &:before {
    content: $scicon-openai-text; 
  }
}
.scicon-openai {
  &:before {
    content: $scicon-openai; 
  }
}
.scicon-odysee-wordmark {
  &:before {
    content: $scicon-odysee-wordmark; 
  }
}
.scicon-odysee {
  &:before {
    content: $scicon-odysee; 
  }
}
.scicon-nvidia-wordmark {
  &:before {
    content: $scicon-nvidia-wordmark; 
  }
}
.scicon-nvidia {
  &:before {
    content: $scicon-nvidia; 
  }
}
.scicon-nsf {
  &:before {
    content: $scicon-nsf; 
  }
}
.scicon-npm-text {
  &:before {
    content: $scicon-npm-text; 
  }
}
.scicon-npm-alt {
  &:before {
    content: $scicon-npm-alt; 
  }
}
.scicon-npm {
  &:before {
    content: $scicon-npm; 
  }
}
.scicon-notion {
  &:before {
    content: $scicon-notion; 
  }
}
.scicon-nokia-old {
  &:before {
    content: $scicon-nokia-old; 
  }
}
.scicon-nokia-n {
  &:before {
    content: $scicon-nokia-n; 
  }
}
.scicon-nokia {
  &:before {
    content: $scicon-nokia; 
  }
}
.scicon-nodemon-alt {
  &:before {
    content: $scicon-nodemon-alt; 
  }
}
.scicon-nodemon {
  &:before {
    content: $scicon-nodemon; 
  }
}
.scicon-nodejs-wordmark {
  &:before {
    content: $scicon-nodejs-wordmark; 
  }
}
.scicon-nodejs-js {
  &:before {
    content: $scicon-nodejs-js; 
  }
}
.scicon-nodejs {
  &:before {
    content: $scicon-nodejs; 
  }
}
.scicon-nike {
  &:before {
    content: $scicon-nike; 
  }
}
.scicon-ngrok {
  &:before {
    content: $scicon-ngrok; 
  }
}
.scicon-nextjs-wordmark {
  &:before {
    content: $scicon-nextjs-wordmark; 
  }
}
.scicon-nextjs {
  &:before {
    content: $scicon-nextjs; 
  }
}
.scicon-neuralink-wordmark {
  &:before {
    content: $scicon-neuralink-wordmark; 
  }
}
.scicon-neuralink {
  &:before {
    content: $scicon-neuralink; 
  }
}
.scicon-netlify-wordmark {
  &:before {
    content: $scicon-netlify-wordmark; 
  }
}
.scicon-netlify-alt {
  &:before {
    content: $scicon-netlify-alt; 
  }
}
.scicon-netlify {
  &:before {
    content: $scicon-netlify; 
  }
}
.scicon-netflix-wordmark {
  &:before {
    content: $scicon-netflix-wordmark; 
  }
}
.scicon-netflix {
  &:before {
    content: $scicon-netflix; 
  }
}
.scicon-nature-text {
  &:before {
    content: $scicon-nature-text; 
  }
}
.scicon-nature {
  &:before {
    content: $scicon-nature; 
  }
}
.scicon-nasa-worm {
  &:before {
    content: $scicon-nasa-worm; 
  }
}
.scicon-nasa {
  &:before {
    content: $scicon-nasa; 
  }
}
.scicon-mysql-text {
  &:before {
    content: $scicon-mysql-text; 
  }
}
.scicon-mysql-mark {
  &:before {
    content: $scicon-mysql-mark; 
  }
}
.scicon-mysql {
  &:before {
    content: $scicon-mysql; 
  }
}
.scicon-mubi-wordmark {
  &:before {
    content: $scicon-mubi-wordmark; 
  }
}
.scicon-mubi {
  &:before {
    content: $scicon-mubi; 
  }
}
.scicon-msi {
  &:before {
    content: $scicon-msi; 
  }
}
.scicon-mozilla {
  &:before {
    content: $scicon-mozilla; 
  }
}
.scicon-mongodb-wordmark {
  &:before {
    content: $scicon-mongodb-wordmark; 
  }
}
.scicon-mongodb-leaf {
  &:before {
    content: $scicon-mongodb-leaf; 
  }
}
.scicon-microsoft-wordmark {
  &:before {
    content: $scicon-microsoft-wordmark; 
  }
}
.scicon-microsoft-text {
  &:before {
    content: $scicon-microsoft-text; 
  }
}
.scicon-microsoft-teams {
  &:before {
    content: $scicon-microsoft-teams; 
  }
}
.scicon-microsoft-365 {
  &:before {
    content: $scicon-microsoft-365; 
  }
}
.scicon-microsoft {
  &:before {
    content: $scicon-microsoft; 
  }
}
.scicon-meteoroloji-gm {
  &:before {
    content: $scicon-meteoroloji-gm; 
  }
}
.scicon-meta-wordmark {
  &:before {
    content: $scicon-meta-wordmark; 
  }
}
.scicon-metacritic-wordmark {
  &:before {
    content: $scicon-metacritic-wordmark; 
  }
}
.scicon-metacritic {
  &:before {
    content: $scicon-metacritic; 
  }
}
.scicon-meta {
  &:before {
    content: $scicon-meta; 
  }
}
.scicon-messenger-alt {
  &:before {
    content: $scicon-messenger-alt; 
  }
}
.scicon-messenger {
  &:before {
    content: $scicon-messenger; 
  }
}
.scicon-mercedes {
  &:before {
    content: $scicon-mercedes; 
  }
}
.scicon-medium-wordmark {
  &:before {
    content: $scicon-medium-wordmark; 
  }
}
.scicon-medium-text {
  &:before {
    content: $scicon-medium-text; 
  }
}
.scicon-medium {
  &:before {
    content: $scicon-medium; 
  }
}
.scicon-maxcdn {
  &:before {
    content: $scicon-maxcdn; 
  }
}
.scicon-matlab {
  &:before {
    content: $scicon-matlab; 
  }
}
.scicon-mathjax-wordmark {
  &:before {
    content: $scicon-mathjax-wordmark; 
  }
}
.scicon-mathjax {
  &:before {
    content: $scicon-mathjax; 
  }
}
.scicon-mastodon {
  &:before {
    content: $scicon-mastodon; 
  }
}
.scicon-markdown-alt {
  &:before {
    content: $scicon-markdown-alt; 
  }
}
.scicon-markdown {
  &:before {
    content: $scicon-markdown; 
  }
}
.scicon-manjaro {
  &:before {
    content: $scicon-manjaro; 
  }
}
.scicon-livescience-wordmark {
  &:before {
    content: $scicon-livescience-wordmark; 
  }
}
.scicon-livescience {
  &:before {
    content: $scicon-livescience; 
  }
}
.scicon-linux-foundation-wordmark-alt {
  &:before {
    content: $scicon-linux-foundation-wordmark-alt; 
  }
}
.scicon-linux-foundation-wordmark {
  &:before {
    content: $scicon-linux-foundation-wordmark; 
  }
}
.scicon-linux-foundation {
  &:before {
    content: $scicon-linux-foundation; 
  }
}
.scicon-linkedin-wordmark {
  &:before {
    content: $scicon-linkedin-wordmark; 
  }
}
.scicon-linkedin {
  &:before {
    content: $scicon-linkedin; 
  }
}
.scicon-lightroom-classic {
  &:before {
    content: $scicon-lightroom-classic; 
  }
}
.scicon-lightroom {
  &:before {
    content: $scicon-lightroom; 
  }
}
.scicon-libreoffice-wordmark {
  &:before {
    content: $scicon-libreoffice-wordmark; 
  }
}
.scicon-libreoffice {
  &:before {
    content: $scicon-libreoffice; 
  }
}
.scicon-laravel-wordmark {
  &:before {
    content: $scicon-laravel-wordmark; 
  }
}
.scicon-laravel {
  &:before {
    content: $scicon-laravel; 
  }
}
.scicon-kurzgesagt {
  &:before {
    content: $scicon-kurzgesagt; 
  }
}
.scicon-krisp-wordmark {
  &:before {
    content: $scicon-krisp-wordmark; 
  }
}
.scicon-krisp {
  &:before {
    content: $scicon-krisp; 
  }
}
.scicon-kreosus-wordmark {
  &:before {
    content: $scicon-kreosus-wordmark; 
  }
}
.scicon-kreosus {
  &:before {
    content: $scicon-kreosus; 
  }
}
.scicon-ko-fi-wordmark {
  &:before {
    content: $scicon-ko-fi-wordmark; 
  }
}
.scicon-ko-fi {
  &:before {
    content: $scicon-ko-fi; 
  }
}
.scicon-kickstarter-wordmark {
  &:before {
    content: $scicon-kickstarter-wordmark; 
  }
}
.scicon-kickstarter {
  &:before {
    content: $scicon-kickstarter; 
  }
}
.scicon-khan-academy-wordmark {
  &:before {
    content: $scicon-khan-academy-wordmark; 
  }
}
.scicon-khan-academy-text {
  &:before {
    content: $scicon-khan-academy-text; 
  }
}
.scicon-khan-academy-alt {
  &:before {
    content: $scicon-khan-academy-alt; 
  }
}
.scicon-khan-academy {
  &:before {
    content: $scicon-khan-academy; 
  }
}
.scicon-keysight-wordmark {
  &:before {
    content: $scicon-keysight-wordmark; 
  }
}
.scicon-keysight {
  &:before {
    content: $scicon-keysight; 
  }
}
.scicon-katex {
  &:before {
    content: $scicon-katex; 
  }
}
.scicon-jsdelivr-wordmark {
  &:before {
    content: $scicon-jsdelivr-wordmark; 
  }
}
.scicon-jsdelivr-text {
  &:before {
    content: $scicon-jsdelivr-text; 
  }
}
.scicon-jsdelivr {
  &:before {
    content: $scicon-jsdelivr; 
  }
}
.scicon-jquery-wordmark {
  &:before {
    content: $scicon-jquery-wordmark; 
  }
}
.scicon-jquery-slogan {
  &:before {
    content: $scicon-jquery-slogan; 
  }
}
.scicon-jquery {
  &:before {
    content: $scicon-jquery; 
  }
}
.scicon-jira-software-wordmark {
  &:before {
    content: $scicon-jira-software-wordmark; 
  }
}
.scicon-jira-software {
  &:before {
    content: $scicon-jira-software; 
  }
}
.scicon-java-wordmark {
  &:before {
    content: $scicon-java-wordmark; 
  }
}
.scicon-javascript-text {
  &:before {
    content: $scicon-javascript-text; 
  }
}
.scicon-javascript {
  &:before {
    content: $scicon-javascript; 
  }
}
.scicon-java {
  &:before {
    content: $scicon-java; 
  }
}
.scicon-internet-archive-wordmark {
  &:before {
    content: $scicon-internet-archive-wordmark; 
  }
}
.scicon-internet-archive {
  &:before {
    content: $scicon-internet-archive; 
  }
}
.scicon-intel {
  &:before {
    content: $scicon-intel; 
  }
}
.scicon-instagram-alt {
  &:before {
    content: $scicon-instagram-alt; 
  }
}
.scicon-instagram {
  &:before {
    content: $scicon-instagram; 
  }
}
.scicon-inkscape {
  &:before {
    content: $scicon-inkscape; 
  }
}
.scicon-indesign {
  &:before {
    content: $scicon-indesign; 
  }
}
.scicon-incopy {
  &:before {
    content: $scicon-incopy; 
  }
}
.scicon-imgur {
  &:before {
    content: $scicon-imgur; 
  }
}
.scicon-imdb-text {
  &:before {
    content: $scicon-imdb-text; 
  }
}
.scicon-imdb {
  &:before {
    content: $scicon-imdb; 
  }
}
.scicon-illustrator {
  &:before {
    content: $scicon-illustrator; 
  }
}
.scicon-ibm {
  &:before {
    content: $scicon-ibm; 
  }
}
.scicon-hyperx {
  &:before {
    content: $scicon-hyperx; 
  }
}
.scicon-hubspot-wordmark {
  &:before {
    content: $scicon-hubspot-wordmark; 
  }
}
.scicon-hubspot {
  &:before {
    content: $scicon-hubspot; 
  }
}
.scicon-huawei-wordmark {
  &:before {
    content: $scicon-huawei-wordmark; 
  }
}
.scicon-huawei-text {
  &:before {
    content: $scicon-huawei-text; 
  }
}
.scicon-huawei {
  &:before {
    content: $scicon-huawei; 
  }
}
.scicon-html5-wordmark {
  &:before {
    content: $scicon-html5-wordmark; 
  }
}
.scicon-html5 {
  &:before {
    content: $scicon-html5; 
  }
}
.scicon-hp {
  &:before {
    content: $scicon-hp; 
  }
}
.scicon-hantek {
  &:before {
    content: $scicon-hantek; 
  }
}
.scicon-guilded-wordmark {
  &:before {
    content: $scicon-guilded-wordmark; 
  }
}
.scicon-guilded {
  &:before {
    content: $scicon-guilded; 
  }
}
.scicon-grammarly-wordmark {
  &:before {
    content: $scicon-grammarly-wordmark; 
  }
}
.scicon-grammarly {
  &:before {
    content: $scicon-grammarly; 
  }
}
.scicon-google-text {
  &:before {
    content: $scicon-google-text; 
  }
}
.scicon-google-scholar {
  &:before {
    content: $scicon-google-scholar; 
  }
}
.scicon-google-pay {
  &:before {
    content: $scicon-google-pay; 
  }
}
.scicon-google {
  &:before {
    content: $scicon-google; 
  }
}
.scicon-go-lang {
  &:before {
    content: $scicon-go-lang; 
  }
}
.scicon-go-gopher {
  &:before {
    content: $scicon-go-gopher; 
  }
}
.scicon-godaddy-wordmark {
  &:before {
    content: $scicon-godaddy-wordmark; 
  }
}
.scicon-godaddy {
  &:before {
    content: $scicon-godaddy; 
  }
}
.scicon-gmail {
  &:before {
    content: $scicon-gmail; 
  }
}
.scicon-git-wordmark {
  &:before {
    content: $scicon-git-wordmark; 
  }
}
.scicon-git-text {
  &:before {
    content: $scicon-git-text; 
  }
}
.scicon-gitlab-wordmark {
  &:before {
    content: $scicon-gitlab-wordmark; 
  }
}
.scicon-gitlab-text {
  &:before {
    content: $scicon-gitlab-text; 
  }
}
.scicon-gitlab {
  &:before {
    content: $scicon-gitlab; 
  }
}
.scicon-github-text {
  &:before {
    content: $scicon-github-text; 
  }
}
.scicon-github {
  &:before {
    content: $scicon-github; 
  }
}
.scicon-gitbook-wordmark {
  &:before {
    content: $scicon-gitbook-wordmark; 
  }
}
.scicon-gitbook {
  &:before {
    content: $scicon-gitbook; 
  }
}
.scicon-git {
  &:before {
    content: $scicon-git; 
  }
}
.scicon-giphy-wordmark {
  &:before {
    content: $scicon-giphy-wordmark; 
  }
}
.scicon-giphy-text {
  &:before {
    content: $scicon-giphy-text; 
  }
}
.scicon-giphy {
  &:before {
    content: $scicon-giphy; 
  }
}
.scicon-gimp {
  &:before {
    content: $scicon-gimp; 
  }
}
.scicon-gatsby-wordmark {
  &:before {
    content: $scicon-gatsby-wordmark; 
  }
}
.scicon-gatsby-alt {
  &:before {
    content: $scicon-gatsby-alt; 
  }
}
.scicon-gatsby {
  &:before {
    content: $scicon-gatsby; 
  }
}
.scicon-f-sharp {
  &:before {
    content: $scicon-f-sharp; 
  }
}
.scicon-freecodecamp {
  &:before {
    content: $scicon-freecodecamp; 
  }
}
.scicon-fortran {
  &:before {
    content: $scicon-fortran; 
  }
}
.scicon-font-awesome {
  &:before {
    content: $scicon-font-awesome; 
  }
}
.scicon-flutter-wordmark {
  &:before {
    content: $scicon-flutter-wordmark; 
  }
}
.scicon-flutter {
  &:before {
    content: $scicon-flutter; 
  }
}
.scicon-flickr-wordmark {
  &:before {
    content: $scicon-flickr-wordmark; 
  }
}
.scicon-flickr {
  &:before {
    content: $scicon-flickr; 
  }
}
.scicon-flaticon-wordmark {
  &:before {
    content: $scicon-flaticon-wordmark; 
  }
}
.scicon-flaticon {
  &:before {
    content: $scicon-flaticon; 
  }
}
.scicon-firefox {
  &:before {
    content: $scicon-firefox; 
  }
}
.scicon-fedora-wordmark {
  &:before {
    content: $scicon-fedora-wordmark; 
  }
}
.scicon-fedora-text {
  &:before {
    content: $scicon-fedora-text; 
  }
}
.scicon-fedora-alt {
  &:before {
    content: $scicon-fedora-alt; 
  }
}
.scicon-fedora {
  &:before {
    content: $scicon-fedora; 
  }
}
.scicon-facebook-f {
  &:before {
    content: $scicon-facebook-f; 
  }
}
.scicon-facebook {
  &:before {
    content: $scicon-facebook; 
  }
}
.scicon-evrimagaci-alt {
  &:before {
    content: $scicon-evrimagaci-alt; 
  }
}
.scicon-evrimagaci {
  &:before {
    content: $scicon-evrimagaci; 
  }
}
.scicon-evernote-wordmark {
  &:before {
    content: $scicon-evernote-wordmark; 
  }
}
.scicon-evernote {
  &:before {
    content: $scicon-evernote; 
  }
}
.scicon-etsy-e {
  &:before {
    content: $scicon-etsy-e; 
  }
}
.scicon-etsy {
  &:before {
    content: $scicon-etsy; 
  }
}
.scicon-esa-wordmark {
  &:before {
    content: $scicon-esa-wordmark; 
  }
}
.scicon-esa-text {
  &:before {
    content: $scicon-esa-text; 
  }
}
.scicon-esa {
  &:before {
    content: $scicon-esa; 
  }
}
.scicon-epic-games {
  &:before {
    content: $scicon-epic-games; 
  }
}
.scicon-envato {
  &:before {
    content: $scicon-envato; 
  }
}
.scicon-elgato-wordmark {
  &:before {
    content: $scicon-elgato-wordmark; 
  }
}
.scicon-elgato {
  &:before {
    content: $scicon-elgato; 
  }
}
.scicon-electron-framework-alt {
  &:before {
    content: $scicon-electron-framework-alt; 
  }
}
.scicon-electron-framework {
  &:before {
    content: $scicon-electron-framework; 
  }
}
.scicon-edge-old {
  &:before {
    content: $scicon-edge-old; 
  }
}
.scicon-edge-alt {
  &:before {
    content: $scicon-edge-alt; 
  }
}
.scicon-edge {
  &:before {
    content: $scicon-edge; 
  }
}
.scicon-ebay {
  &:before {
    content: $scicon-ebay; 
  }
}
.scicon-duolingo-wordmark {
  &:before {
    content: $scicon-duolingo-wordmark; 
  }
}
.scicon-duolingo-text {
  &:before {
    content: $scicon-duolingo-text; 
  }
}
.scicon-duolingo {
  &:before {
    content: $scicon-duolingo; 
  }
}
.scicon-dribbble {
  &:before {
    content: $scicon-dribbble; 
  }
}
.scicon-dreamweaver {
  &:before {
    content: $scicon-dreamweaver; 
  }
}
.scicon-doi-foundation-wordmark {
  &:before {
    content: $scicon-doi-foundation-wordmark; 
  }
}
.scicon-doi-foundation {
  &:before {
    content: $scicon-doi-foundation; 
  }
}
.scicon-docusign-wordmark {
  &:before {
    content: $scicon-docusign-wordmark; 
  }
}
.scicon-docusign {
  &:before {
    content: $scicon-docusign; 
  }
}
.scicon-docker-wordmark {
  &:before {
    content: $scicon-docker-wordmark; 
  }
}
.scicon-docker {
  &:before {
    content: $scicon-docker; 
  }
}
.scicon-discourse {
  &:before {
    content: $scicon-discourse; 
  }
}
.scicon-discord-wordmark {
  &:before {
    content: $scicon-discord-wordmark; 
  }
}
.scicon-discord-text {
  &:before {
    content: $scicon-discord-text; 
  }
}
.scicon-discord {
  &:before {
    content: $scicon-discord; 
  }
}
.scicon-digitalocean-wordmark {
  &:before {
    content: $scicon-digitalocean-wordmark; 
  }
}
.scicon-digitalocean {
  &:before {
    content: $scicon-digitalocean; 
  }
}
.scicon-diagrams-net {
  &:before {
    content: $scicon-diagrams-net; 
  }
}
.scicon-dhl {
  &:before {
    content: $scicon-dhl; 
  }
}
.scicon-delphi-lang-alt {
  &:before {
    content: $scicon-delphi-lang-alt; 
  }
}
.scicon-delphi-lang {
  &:before {
    content: $scicon-delphi-lang; 
  }
}
.scicon-dell-alt {
  &:before {
    content: $scicon-dell-alt; 
  }
}
.scicon-dell {
  &:before {
    content: $scicon-dell; 
  }
}
.scicon-deezer-wordmark {
  &:before {
    content: $scicon-deezer-wordmark; 
  }
}
.scicon-deezer {
  &:before {
    content: $scicon-deezer; 
  }
}
.scicon-dailymotion-wordmark {
  &:before {
    content: $scicon-dailymotion-wordmark; 
  }
}
.scicon-dailymotion-alt {
  &:before {
    content: $scicon-dailymotion-alt; 
  }
}
.scicon-dailymotion {
  &:before {
    content: $scicon-dailymotion; 
  }
}
.scicon-css-wordmark {
  &:before {
    content: $scicon-css-wordmark; 
  }
}
.scicon-css {
  &:before {
    content: $scicon-css; 
  }
}
.scicon-c-sharp {
  &:before {
    content: $scicon-c-sharp; 
  }
}
.scicon-crossref-wordmark {
  &:before {
    content: $scicon-crossref-wordmark; 
  }
}
.scicon-crossref {
  &:before {
    content: $scicon-crossref; 
  }
}
.scicon-creative-cloud {
  &:before {
    content: $scicon-creative-cloud; 
  }
}
.scicon-cpp-lang {
  &:before {
    content: $scicon-cpp-lang; 
  }
}
.scicon-cpanel {
  &:before {
    content: $scicon-cpanel; 
  }
}
.scicon-coursera-wordmark {
  &:before {
    content: $scicon-coursera-wordmark; 
  }
}
.scicon-coursera {
  &:before {
    content: $scicon-coursera; 
  }
}
.scicon-corsair-wordmark-horizontal {
  &:before {
    content: $scicon-corsair-wordmark-horizontal; 
  }
}
.scicon-corsair-wordmark {
  &:before {
    content: $scicon-corsair-wordmark; 
  }
}
.scicon-corsair {
  &:before {
    content: $scicon-corsair; 
  }
}
.scicon-compaq-wordmark {
  &:before {
    content: $scicon-compaq-wordmark; 
  }
}
.scicon-compaq {
  &:before {
    content: $scicon-compaq; 
  }
}
.scicon-commodore {
  &:before {
    content: $scicon-commodore; 
  }
}
.scicon-codepen {
  &:before {
    content: $scicon-codepen; 
  }
}
.scicon-cnn {
  &:before {
    content: $scicon-cnn; 
  }
}
.scicon-clubhouse {
  &:before {
    content: $scicon-clubhouse; 
  }
}
.scicon-cloudflare-wordmark {
  &:before {
    content: $scicon-cloudflare-wordmark; 
  }
}
.scicon-cloudflare {
  &:before {
    content: $scicon-cloudflare; 
  }
}
.scicon-c-lang-alt {
  &:before {
    content: $scicon-c-lang-alt; 
  }
}
.scicon-c-lang {
  &:before {
    content: $scicon-c-lang; 
  }
}
.scicon-chrome {
  &:before {
    content: $scicon-chrome; 
  }
}
.scicon-carrefour-wordmark {
  &:before {
    content: $scicon-carrefour-wordmark; 
  }
}
.scicon-carrefour {
  &:before {
    content: $scicon-carrefour; 
  }
}
.scicon-canva-alt {
  &:before {
    content: $scicon-canva-alt; 
  }
}
.scicon-canva {
  &:before {
    content: $scicon-canva; 
  }
}
.scicon-buy-me-a-coffee-wordmark {
  &:before {
    content: $scicon-buy-me-a-coffee-wordmark; 
  }
}
.scicon-buy-me-a-coffee {
  &:before {
    content: $scicon-buy-me-a-coffee; 
  }
}
.scicon-brave-wordmark {
  &:before {
    content: $scicon-brave-wordmark; 
  }
}
.scicon-brave-text {
  &:before {
    content: $scicon-brave-text; 
  }
}
.scicon-brave {
  &:before {
    content: $scicon-brave; 
  }
}
.scicon-bootstrap {
  &:before {
    content: $scicon-bootstrap; 
  }
}
.scicon-bluetooth-b {
  &:before {
    content: $scicon-bluetooth-b; 
  }
}
.scicon-bluetooth {
  &:before {
    content: $scicon-bluetooth; 
  }
}
.scicon-blogger-b {
  &:before {
    content: $scicon-blogger-b; 
  }
}
.scicon-blogger {
  &:before {
    content: $scicon-blogger; 
  }
}
.scicon-bing {
  &:before {
    content: $scicon-bing; 
  }
}
.scicon-bim {
  &:before {
    content: $scicon-bim; 
  }
}
.scicon-behance-alt {
  &:before {
    content: $scicon-behance-alt; 
  }
}
.scicon-behance {
  &:before {
    content: $scicon-behance; 
  }
}
.scicon-bbc {
  &:before {
    content: $scicon-bbc; 
  }
}
.scicon-azure {
  &:before {
    content: $scicon-azure; 
  }
}
.scicon-authy-wordmark {
  &:before {
    content: $scicon-authy-wordmark; 
  }
}
.scicon-authy-alt {
  &:before {
    content: $scicon-authy-alt; 
  }
}
.scicon-authy {
  &:before {
    content: $scicon-authy; 
  }
}
.scicon-audacity {
  &:before {
    content: $scicon-audacity; 
  }
}
.scicon-atom-editor {
  &:before {
    content: $scicon-atom-editor; 
  }
}
.scicon-atlassian-wordmark-alt {
  &:before {
    content: $scicon-atlassian-wordmark-alt; 
  }
}
.scicon-atlassian-wordmark {
  &:before {
    content: $scicon-atlassian-wordmark; 
  }
}
.scicon-atlassian {
  &:before {
    content: $scicon-atlassian; 
  }
}
.scicon-asus {
  &:before {
    content: $scicon-asus; 
  }
}
.scicon-arxiv-wordmark {
  &:before {
    content: $scicon-arxiv-wordmark; 
  }
}
.scicon-arxiv {
  &:before {
    content: $scicon-arxiv; 
  }
}
.scicon-armut-wordmark {
  &:before {
    content: $scicon-armut-wordmark; 
  }
}
.scicon-armut-text {
  &:before {
    content: $scicon-armut-text; 
  }
}
.scicon-armut {
  &:before {
    content: $scicon-armut; 
  }
}
.scicon-arm {
  &:before {
    content: $scicon-arm; 
  }
}
.scicon-arduino-wordmark {
  &:before {
    content: $scicon-arduino-wordmark; 
  }
}
.scicon-arduino {
  &:before {
    content: $scicon-arduino; 
  }
}
.scicon-archlinux-wordmark {
  &:before {
    content: $scicon-archlinux-wordmark; 
  }
}
.scicon-archlinux {
  &:before {
    content: $scicon-archlinux; 
  }
}
.scicon-appstore {
  &:before {
    content: $scicon-appstore; 
  }
}
.scicon-apple-tv-plus {
  &:before {
    content: $scicon-apple-tv-plus; 
  }
}
.scicon-apple-tv {
  &:before {
    content: $scicon-apple-tv; 
  }
}
.scicon-apple-pay {
  &:before {
    content: $scicon-apple-pay; 
  }
}
.scicon-apple-inc {
  &:before {
    content: $scicon-apple-inc; 
  }
}
.scicon-apod {
  &:before {
    content: $scicon-apod; 
  }
}
.scicon-apache-wordmark {
  &:before {
    content: $scicon-apache-wordmark; 
  }
}
.scicon-apache {
  &:before {
    content: $scicon-apache; 
  }
}
.scicon-angular {
  &:before {
    content: $scicon-angular; 
  }
}
.scicon-android-wordmark {
  &:before {
    content: $scicon-android-wordmark; 
  }
}
.scicon-android-tv {
  &:before {
    content: $scicon-android-tv; 
  }
}
.scicon-android {
  &:before {
    content: $scicon-android; 
  }
}
.scicon-amd-alt {
  &:before {
    content: $scicon-amd-alt; 
  }
}
.scicon-amd {
  &:before {
    content: $scicon-amd; 
  }
}
.scicon-amazon-ws {
  &:before {
    content: $scicon-amazon-ws; 
  }
}
.scicon-amazon-pay {
  &:before {
    content: $scicon-amazon-pay; 
  }
}
.scicon-amazon-lightsail-wordmark {
  &:before {
    content: $scicon-amazon-lightsail-wordmark; 
  }
}
.scicon-amazon-lightsail {
  &:before {
    content: $scicon-amazon-lightsail; 
  }
}
.scicon-amazon-a {
  &:before {
    content: $scicon-amazon-a; 
  }
}
.scicon-amazon {
  &:before {
    content: $scicon-amazon; 
  }
}
.scicon-airbnb-wordmark {
  &:before {
    content: $scicon-airbnb-wordmark; 
  }
}
.scicon-airbnb {
  &:before {
    content: $scicon-airbnb; 
  }
}
.scicon-after-effects {
  &:before {
    content: $scicon-after-effects; 
  }
}
.scicon-adobe-wordmark {
  &:before {
    content: $scicon-adobe-wordmark; 
  }
}
.scicon-adobe-fuse {
  &:before {
    content: $scicon-adobe-fuse; 
  }
}
.scicon-adobe-animate {
  &:before {
    content: $scicon-adobe-animate; 
  }
}
.scicon-adobe {
  &:before {
    content: $scicon-adobe; 
  }
}
.scicon-adidas {
  &:before {
    content: $scicon-adidas; 
  }
}
.scicon-adafruit-wordmark {
  &:before {
    content: $scicon-adafruit-wordmark; 
  }
}
.scicon-adafruit {
  &:before {
    content: $scicon-adafruit; 
  }
}
.scicon-acrobat {
  &:before {
    content: $scicon-acrobat; 
  }
}
.scicon-academia-wordmark {
  &:before {
    content: $scicon-academia-wordmark; 
  }
}
.scicon-academia {
  &:before {
    content: $scicon-academia; 
  }
}
.scicon-px {
  &:before {
    content: $scicon-px; 
  }
}

