@font-face {
  font-family: 'Scicon';
  src:  url('https://cdn.jsdelivr.net/gh/Sci-Hook/scicon@074ca9ce63c5ac4b3ffd5c6a1277c97939536b10/fonts/Scicon.eot?115lfr');
  src:  url('https://cdn.jsdelivr.net/gh/Sci-Hook/scicon@074ca9ce63c5ac4b3ffd5c6a1277c97939536b10/fonts/Scicon.eot?115lfr#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/Sci-Hook/scicon@074ca9ce63c5ac4b3ffd5c6a1277c97939536b10/fonts/Scicon.ttf?115lfr') format('truetype'),
    url('https://cdn.jsdelivr.net/gh/Sci-Hook/scicon@074ca9ce63c5ac4b3ffd5c6a1277c97939536b10/fonts/Scicon.woff?115lfr') format('woff'),
    url('https://cdn.jsdelivr.net/gh/Sci-Hook/scicon@074ca9ce63c5ac4b3ffd5c6a1277c97939536b10/fonts/Scicon.svg?115lfr#Scicon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.scicon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Scicon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scicon-zotero-wordmark:before {
  content: "\e900";
}
.scicon-zoterobib:before {
  content: "\e901";
}
.scicon-zotero:before {
  content: "\e902";
}
.scicon-zendesk-wordmark:before {
  content: "\e903";
}
.scicon-zendesk:before {
  content: "\e904";
}
.scicon-zapier:before {
  content: "\e905";
}
.scicon-youtube-wordmark:before {
  content: "\e906";
}
.scicon-youtube-text:before {
  content: "\e907";
}
.scicon-youtube-play:before {
  content: "\e908";
}
.scicon-youtube:before {
  content: "\e909";
}
.scicon-yarn-wordmark:before {
  content: "\e90a";
}
.scicon-yarn-text:before {
  content: "\e90b";
}
.scicon-yarn:before {
  content: "\e90c";
}
.scicon-yandex-wordmark:before {
  content: "\e90d";
}
.scicon-yandex-ru-wordmark:before {
  content: "\e90e";
}
.scicon-yandex-ru:before {
  content: "\e90f";
}
.scicon-yandex:before {
  content: "\e910";
}
.scicon-yaml:before {
  content: "\e911";
}
.scicon-yahoo-wordmark:before {
  content: "\e912";
}
.scicon-yahoo:before {
  content: "\e913";
}
.scicon-x-corp:before {
  content: "\e914";
}
.scicon-xbox:before {
  content: "\e915";
}
.scicon-xai:before {
  content: "\e916";
}
.scicon-wordpress:before {
  content: "\e917";
}
.scicon-wixcom:before {
  content: "\e918";
}
.scicon-wikipedia:before {
  content: "\e919";
}
.scicon-wikimedia-wordmark:before {
  content: "\e91a";
}
.scicon-wikimedia-text:before {
  content: "\e91b";
}
.scicon-wikimedia-commons:before {
  content: "\e91c";
}
.scicon-wikimedia:before {
  content: "\e91d";
}
.scicon-whatsapp:before {
  content: "\e91e";
}
.scicon-wayback-machine:before {
  content: "\e91f";
}
.scicon-w3c:before {
  content: "\e920";
}
.scicon-vuejs:before {
  content: "\e921";
}
.scicon-vsc-insiders:before {
  content: "\e922";
}
.scicon-visual-studio-code:before {
  content: "\e923";
}
.scicon-visual-studio:before {
  content: "\e924";
}
.scicon-vimeo-text:before {
  content: "\e925";
}
.scicon-vimeo:before {
  content: "\e926";
}
.scicon-vercel-wordmark:before {
  content: "\e927";
}
.scicon-vercel:before {
  content: "\e928";
}
.scicon-usb:before {
  content: "\e929";
}
.scicon-ups:before {
  content: "\e92a";
}
.scicon-unity-wordmark:before {
  content: "\e92b";
}
.scicon-unity:before {
  content: "\e92c";
}
.scicon-ubuntu-alt:before {
  content: "\e92d";
}
.scicon-ubuntu:before {
  content: "\e92e";
}
.scicon-typo3-wordmark:before {
  content: "\e92f";
}
.scicon-typo3:before {
  content: "\e930";
}
.scicon-typescript-rounded:before {
  content: "\e931";
}
.scicon-typescript:before {
  content: "\e932";
}
.scicon-twitter:before {
  content: "\e933";
}
.scicon-twitch:before {
  content: "\e934";
}
.scicon-tumblr-text:before {
  content: "\e935";
}
.scicon-tumblr:before {
  content: "\e936";
}
.scicon-tubitak-wordmark:before {
  content: "\e937";
}
.scicon-tubitak:before {
  content: "\e938";
}
.scicon-tua-wordmark:before {
  content: "\e939";
}
.scicon-tua:before {
  content: "\e93a";
}
.scicon-ttec-wordmark:before {
  content: "\e93b";
}
.scicon-ttec:before {
  content: "\e93c";
}
.scicon-ts-node-wordmark:before {
  content: "\e93d";
}
.scicon-ts-node:before {
  content: "\e93e";
}
.scicon-tplink-wordmark:before {
  content: "\e93f";
}
.scicon-tplink:before {
  content: "\e940";
}
.scicon-topaz-labs-wordmark:before {
  content: "\e941";
}
.scicon-topaz-labs:before {
  content: "\e942";
}
.scicon-tiktok-text:before {
  content: "\e943";
}
.scicon-tiktok:before {
  content: "\e944";
}
.scicon-threads:before {
  content: "\e945";
}
.scicon-teyit-alt:before {
  content: "\e946";
}
.scicon-teyit:before {
  content: "\e947";
}
.scicon-tesla-wordmark:before {
  content: "\e948";
}
.scicon-tesla-text:before {
  content: "\e949";
}
.scicon-tesla-inc:before {
  content: "\e94a";
}
.scicon-telegram-rounded:before {
  content: "\e94b";
}
.scicon-telegram:before {
  content: "\e94c";
}
.scicon-tailwind-wordmark:before {
  content: "\e94d";
}
.scicon-tailwind:before {
  content: "\e94e";
}
.scicon-swift:before {
  content: "\e94f";
}
.scicon-sublime-text-wordmark:before {
  content: "\e950";
}
.scicon-sublime-text:before {
  content: "\e951";
}
.scicon-stripe-s:before {
  content: "\e952";
}
.scicon-stripe:before {
  content: "\e953";
}
.scicon-steam:before {
  content: "\e954";
}
.scicon-stackoverflow-wordmark:before {
  content: "\e955";
}
.scicon-stackoverflow-text:before {
  content: "\e956";
}
.scicon-stackoverflow:before {
  content: "\e957";
}
.scicon-squarespace-wordmark:before {
  content: "\e958";
}
.scicon-squarespace:before {
  content: "\e959";
}
.scicon-sqlite-wordmark:before {
  content: "\e95a";
}
.scicon-sqlite:before {
  content: "\e95b";
}
.scicon-spotify-wordmark:before {
  content: "\e95c";
}
.scicon-spotify-text:before {
  content: "\e95d";
}
.scicon-spotify:before {
  content: "\e95e";
}
.scicon-spacex-alt:before {
  content: "\e95f";
}
.scicon-spacex:before {
  content: "\e960";
}
.scicon-slack-wordmark:before {
  content: "\e961";
}
.scicon-slack:before {
  content: "\e962";
}
.scicon-skype:before {
  content: "\e963";
}
.scicon-shutterstock-wordmark:before {
  content: "\e964";
}
.scicon-shutterstock:before {
  content: "\e965";
}
.scicon-shopify-wordmark:before {
  content: "\e966";
}
.scicon-shopify-text:before {
  content: "\e967";
}
.scicon-shopify:before {
  content: "\e968";
}
.scicon-scihook-square:before {
  content: "\e969";
}
.scicon-scihook-alt:before {
  content: "\e96a";
}
.scicon-scihook:before {
  content: "\e96b";
}
.scicon-scicon:before {
  content: "\e96c";
}
.scicon-sass:before {
  content: "\e96d";
}
.scicon-samsung-alt:before {
  content: "\e96e";
}
.scicon-samsung:before {
  content: "\e96f";
}
.scicon-rotten-tomatoes-wordmark:before {
  content: "\e970";
}
.scicon-rotten-tomatoes:before {
  content: "\e971";
}
.scicon-researchgate-alt:before {
  content: "\e972";
}
.scicon-researchgate:before {
  content: "\e973";
}
.scicon-redhat:before {
  content: "\e974";
}
.scicon-reddit-wordmark:before {
  content: "\e975";
}
.scicon-reddit-text:before {
  content: "\e976";
}
.scicon-reddit-alt:before {
  content: "\e977";
}
.scicon-reddit:before {
  content: "\e978";
}
.scicon-react:before {
  content: "\e979";
}
.scicon-razer-wordmark:before {
  content: "\e97a";
}
.scicon-razer:before {
  content: "\e97b";
}
.scicon-raspberry-pi:before {
  content: "\e97c";
}
.scicon-quora-alt:before {
  content: "\e97d";
}
.scicon-quora:before {
  content: "\e97e";
}
.scicon-python:before {
  content: "\e97f";
}
.scicon-product-hunt-wordmark:before {
  content: "\e980";
}
.scicon-product-hunt:before {
  content: "\e981";
}
.scicon-prisma-wordmark:before {
  content: "\e982";
}
.scicon-prisma:before {
  content: "\e983";
}
.scicon-prime-video:before {
  content: "\e984";
}
.scicon-premiere-pro:before {
  content: "\e985";
}
.scicon-prelude:before {
  content: "\e986";
}
.scicon-postman-wordmark:before {
  content: "\e987";
}
.scicon-postman:before {
  content: "\e988";
}
.scicon-popsci:before {
  content: "\e989";
}
.scicon-playstore:before {
  content: "\e98a";
}
.scicon-playstation:before {
  content: "\e98b";
}
.scicon-pixabay:before {
  content: "\e98c";
}
.scicon-pinterest-wordmark:before {
  content: "\e98d";
}
.scicon-pinterest-text:before {
  content: "\e98e";
}
.scicon-pinterest-alt:before {
  content: "\e98f";
}
.scicon-pinterest:before {
  content: "\e990";
}
.scicon-php-text:before {
  content: "\e991";
}
.scicon-php:before {
  content: "\e992";
}
.scicon-photoshop:before {
  content: "\e993";
}
.scicon-philips:before {
  content: "\e994";
}
.scicon-pexels-wordmark:before {
  content: "\e995";
}
.scicon-pexels:before {
  content: "\e996";
}
.scicon-perl-camel:before {
  content: "\e997";
}
.scicon-perl:before {
  content: "\e998";
}
.scicon-periodum:before {
  content: "\e999";
}
.scicon-paypal-wordmark:before {
  content: "\e99a";
}
.scicon-paypal-text:before {
  content: "\e99b";
}
.scicon-paypal:before {
  content: "\e99c";
}
.scicon-patreon-text:before {
  content: "\e99d";
}
.scicon-patreon:before {
  content: "\e99e";
}
.scicon-orcid:before {
  content: "\e99f";
}
.scicon-oracle:before {
  content: "\e9a0";
}
.scicon-opensuse-wordmark:before {
  content: "\e9a1";
}
.scicon-opensuse-text:before {
  content: "\e9a2";
}
.scicon-opensuse:before {
  content: "\e9a3";
}
.scicon-openssl:before {
  content: "\e9a4";
}
.scicon-open-bug-bounty:before {
  content: "\e9a5";
}
.scicon-openai-wordmark:before {
  content: "\e9a6";
}
.scicon-openai-text:before {
  content: "\e9a7";
}
.scicon-openai:before {
  content: "\e9a8";
}
.scicon-odysee-wordmark:before {
  content: "\e9a9";
}
.scicon-odysee:before {
  content: "\e9aa";
}
.scicon-nvidia-wordmark:before {
  content: "\e9ab";
}
.scicon-nvidia:before {
  content: "\e9ac";
}
.scicon-nsf:before {
  content: "\e9ad";
}
.scicon-npm-text:before {
  content: "\e9ae";
}
.scicon-npm-alt:before {
  content: "\e9af";
}
.scicon-npm:before {
  content: "\e9b0";
}
.scicon-notion:before {
  content: "\e9b1";
}
.scicon-nokia-old:before {
  content: "\e9b2";
}
.scicon-nokia-n:before {
  content: "\e9b3";
}
.scicon-nokia:before {
  content: "\e9b4";
}
.scicon-nodemon-alt:before {
  content: "\e9b5";
}
.scicon-nodemon:before {
  content: "\e9b6";
}
.scicon-nodejs-wordmark:before {
  content: "\e9b7";
}
.scicon-nodejs-js:before {
  content: "\e9b8";
}
.scicon-nodejs:before {
  content: "\e9b9";
}
.scicon-nike:before {
  content: "\e9ba";
}
.scicon-ngrok:before {
  content: "\e9bb";
}
.scicon-nextjs-wordmark:before {
  content: "\e9bc";
}
.scicon-nextjs:before {
  content: "\e9bd";
}
.scicon-neuralink-wordmark:before {
  content: "\e9be";
}
.scicon-neuralink:before {
  content: "\e9bf";
}
.scicon-netlify-wordmark:before {
  content: "\e9c0";
}
.scicon-netlify-alt:before {
  content: "\e9c1";
}
.scicon-netlify:before {
  content: "\e9c2";
}
.scicon-netflix-wordmark:before {
  content: "\e9c3";
}
.scicon-netflix:before {
  content: "\e9c4";
}
.scicon-nature-text:before {
  content: "\e9c5";
}
.scicon-nature:before {
  content: "\e9c6";
}
.scicon-nasa-worm:before {
  content: "\e9c7";
}
.scicon-nasa:before {
  content: "\e9c8";
}
.scicon-mysql-text:before {
  content: "\e9c9";
}
.scicon-mysql-mark:before {
  content: "\e9ca";
}
.scicon-mysql:before {
  content: "\e9cb";
}
.scicon-mubi-wordmark:before {
  content: "\e9cc";
}
.scicon-mubi:before {
  content: "\e9cd";
}
.scicon-msi:before {
  content: "\e9ce";
}
.scicon-mozilla:before {
  content: "\e9cf";
}
.scicon-mongodb-wordmark:before {
  content: "\e9d0";
}
.scicon-mongodb-leaf:before {
  content: "\e9d1";
}
.scicon-microsoft-wordmark:before {
  content: "\e9d2";
}
.scicon-microsoft-text:before {
  content: "\e9d3";
}
.scicon-microsoft-teams:before {
  content: "\e9d4";
}
.scicon-microsoft-365:before {
  content: "\e9d5";
}
.scicon-microsoft:before {
  content: "\e9d6";
}
.scicon-meteoroloji-gm:before {
  content: "\e9d7";
}
.scicon-meta-wordmark:before {
  content: "\e9d8";
}
.scicon-metacritic-wordmark:before {
  content: "\e9d9";
}
.scicon-metacritic:before {
  content: "\e9da";
}
.scicon-meta:before {
  content: "\e9db";
}
.scicon-messenger-alt:before {
  content: "\e9dc";
}
.scicon-messenger:before {
  content: "\e9dd";
}
.scicon-mercedes:before {
  content: "\e9de";
}
.scicon-medium-wordmark:before {
  content: "\e9df";
}
.scicon-medium-text:before {
  content: "\e9e0";
}
.scicon-medium:before {
  content: "\e9e1";
}
.scicon-maxcdn:before {
  content: "\e9e2";
}
.scicon-matlab:before {
  content: "\e9e3";
}
.scicon-mathjax-wordmark:before {
  content: "\e9e4";
}
.scicon-mathjax:before {
  content: "\e9e5";
}
.scicon-mastodon:before {
  content: "\e9e6";
}
.scicon-markdown-alt:before {
  content: "\e9e7";
}
.scicon-markdown:before {
  content: "\e9e8";
}
.scicon-manjaro:before {
  content: "\e9e9";
}
.scicon-livescience-wordmark:before {
  content: "\e9ea";
}
.scicon-livescience:before {
  content: "\e9eb";
}
.scicon-linux-foundation-wordmark-alt:before {
  content: "\e9ec";
}
.scicon-linux-foundation-wordmark:before {
  content: "\e9ed";
}
.scicon-linux-foundation:before {
  content: "\e9ee";
}
.scicon-linkedin-wordmark:before {
  content: "\e9ef";
}
.scicon-linkedin:before {
  content: "\e9f0";
}
.scicon-lightroom-classic:before {
  content: "\e9f1";
}
.scicon-lightroom:before {
  content: "\e9f2";
}
.scicon-libreoffice-wordmark:before {
  content: "\e9f3";
}
.scicon-libreoffice:before {
  content: "\e9f4";
}
.scicon-laravel-wordmark:before {
  content: "\e9f5";
}
.scicon-laravel:before {
  content: "\e9f6";
}
.scicon-kurzgesagt:before {
  content: "\e9f7";
}
.scicon-krisp-wordmark:before {
  content: "\e9f8";
}
.scicon-krisp:before {
  content: "\e9f9";
}
.scicon-kreosus-wordmark:before {
  content: "\e9fa";
}
.scicon-kreosus:before {
  content: "\e9fb";
}
.scicon-ko-fi-wordmark:before {
  content: "\e9fc";
}
.scicon-ko-fi:before {
  content: "\e9fd";
}
.scicon-kickstarter-wordmark:before {
  content: "\e9fe";
}
.scicon-kickstarter:before {
  content: "\e9ff";
}
.scicon-khan-academy-wordmark:before {
  content: "\ea00";
}
.scicon-khan-academy-text:before {
  content: "\ea01";
}
.scicon-khan-academy-alt:before {
  content: "\ea02";
}
.scicon-khan-academy:before {
  content: "\ea03";
}
.scicon-keysight-wordmark:before {
  content: "\ea04";
}
.scicon-keysight:before {
  content: "\ea05";
}
.scicon-katex:before {
  content: "\ea06";
}
.scicon-jsdelivr-wordmark:before {
  content: "\ea07";
}
.scicon-jsdelivr-text:before {
  content: "\ea08";
}
.scicon-jsdelivr:before {
  content: "\ea09";
}
.scicon-jquery-wordmark:before {
  content: "\ea0a";
}
.scicon-jquery-slogan:before {
  content: "\ea0b";
}
.scicon-jquery:before {
  content: "\ea0c";
}
.scicon-jira-software-wordmark:before {
  content: "\ea0d";
}
.scicon-jira-software:before {
  content: "\ea0e";
}
.scicon-java-wordmark:before {
  content: "\ea0f";
}
.scicon-javascript-text:before {
  content: "\ea10";
}
.scicon-javascript:before {
  content: "\ea11";
}
.scicon-java:before {
  content: "\ea12";
}
.scicon-internet-archive-wordmark:before {
  content: "\ea13";
}
.scicon-internet-archive:before {
  content: "\ea14";
}
.scicon-intel:before {
  content: "\ea15";
}
.scicon-instagram-alt:before {
  content: "\ea16";
}
.scicon-instagram:before {
  content: "\ea17";
}
.scicon-inkscape:before {
  content: "\ea18";
}
.scicon-indesign:before {
  content: "\ea19";
}
.scicon-incopy:before {
  content: "\ea1a";
}
.scicon-imgur:before {
  content: "\ea1b";
}
.scicon-imdb-text:before {
  content: "\ea1c";
}
.scicon-imdb:before {
  content: "\ea1d";
}
.scicon-illustrator:before {
  content: "\ea1e";
}
.scicon-ibm:before {
  content: "\ea1f";
}
.scicon-hyperx:before {
  content: "\ea20";
}
.scicon-hubspot-wordmark:before {
  content: "\ea21";
}
.scicon-hubspot:before {
  content: "\ea22";
}
.scicon-huawei-wordmark:before {
  content: "\ea23";
}
.scicon-huawei-text:before {
  content: "\ea24";
}
.scicon-huawei:before {
  content: "\ea25";
}
.scicon-html5-wordmark:before {
  content: "\ea26";
}
.scicon-html5:before {
  content: "\ea27";
}
.scicon-hp:before {
  content: "\ea28";
}
.scicon-hantek:before {
  content: "\ea29";
}
.scicon-guilded-wordmark:before {
  content: "\ea2a";
}
.scicon-guilded:before {
  content: "\ea2b";
}
.scicon-grammarly-wordmark:before {
  content: "\ea2c";
}
.scicon-grammarly:before {
  content: "\ea2d";
}
.scicon-google-text:before {
  content: "\ea2e";
}
.scicon-google-scholar:before {
  content: "\ea2f";
}
.scicon-google-pay:before {
  content: "\ea30";
}
.scicon-google:before {
  content: "\ea31";
}
.scicon-go-lang:before {
  content: "\ea32";
}
.scicon-go-gopher:before {
  content: "\ea33";
}
.scicon-godaddy-wordmark:before {
  content: "\ea34";
}
.scicon-godaddy:before {
  content: "\ea35";
}
.scicon-gmail:before {
  content: "\ea36";
}
.scicon-git-wordmark:before {
  content: "\ea37";
}
.scicon-git-text:before {
  content: "\ea38";
}
.scicon-gitlab-wordmark:before {
  content: "\ea39";
}
.scicon-gitlab-text:before {
  content: "\ea3a";
}
.scicon-gitlab:before {
  content: "\ea3b";
}
.scicon-github-text:before {
  content: "\ea3c";
}
.scicon-github:before {
  content: "\ea3d";
}
.scicon-gitbook-wordmark:before {
  content: "\ea3e";
}
.scicon-gitbook:before {
  content: "\ea3f";
}
.scicon-git:before {
  content: "\ea40";
}
.scicon-giphy-wordmark:before {
  content: "\ea41";
}
.scicon-giphy-text:before {
  content: "\ea42";
}
.scicon-giphy:before {
  content: "\ea43";
}
.scicon-gimp:before {
  content: "\ea44";
}
.scicon-gatsby-wordmark:before {
  content: "\ea45";
}
.scicon-gatsby-alt:before {
  content: "\ea46";
}
.scicon-gatsby:before {
  content: "\ea47";
}
.scicon-f-sharp:before {
  content: "\ea48";
}
.scicon-freecodecamp:before {
  content: "\ea49";
}
.scicon-fortran:before {
  content: "\ea4a";
}
.scicon-font-awesome:before {
  content: "\ea4b";
}
.scicon-flutter-wordmark:before {
  content: "\ea4c";
}
.scicon-flutter:before {
  content: "\ea4d";
}
.scicon-flickr-wordmark:before {
  content: "\ea4e";
}
.scicon-flickr:before {
  content: "\ea4f";
}
.scicon-flaticon-wordmark:before {
  content: "\ea50";
}
.scicon-flaticon:before {
  content: "\ea51";
}
.scicon-firefox:before {
  content: "\ea52";
}
.scicon-fedora-wordmark:before {
  content: "\ea53";
}
.scicon-fedora-text:before {
  content: "\ea54";
}
.scicon-fedora-alt:before {
  content: "\ea55";
}
.scicon-fedora:before {
  content: "\ea56";
}
.scicon-facebook-f:before {
  content: "\ea57";
}
.scicon-facebook:before {
  content: "\ea58";
}
.scicon-evrimagaci-alt:before {
  content: "\ea59";
}
.scicon-evrimagaci:before {
  content: "\ea5a";
}
.scicon-evernote-wordmark:before {
  content: "\ea5b";
}
.scicon-evernote:before {
  content: "\ea5c";
}
.scicon-etsy-e:before {
  content: "\ea5d";
}
.scicon-etsy:before {
  content: "\ea5e";
}
.scicon-esa-wordmark:before {
  content: "\ea5f";
}
.scicon-esa-text:before {
  content: "\ea60";
}
.scicon-esa:before {
  content: "\ea61";
}
.scicon-epic-games:before {
  content: "\ea62";
}
.scicon-envato:before {
  content: "\ea63";
}
.scicon-elgato-wordmark:before {
  content: "\ea64";
}
.scicon-elgato:before {
  content: "\ea65";
}
.scicon-electron-framework-alt:before {
  content: "\ea66";
}
.scicon-electron-framework:before {
  content: "\ea67";
}
.scicon-edge-old:before {
  content: "\ea68";
}
.scicon-edge-alt:before {
  content: "\ea69";
}
.scicon-edge:before {
  content: "\ea6a";
}
.scicon-ebay:before {
  content: "\ea6b";
}
.scicon-duolingo-wordmark:before {
  content: "\ea6c";
}
.scicon-duolingo-text:before {
  content: "\ea6d";
}
.scicon-duolingo:before {
  content: "\ea6e";
}
.scicon-dribbble:before {
  content: "\ea6f";
}
.scicon-dreamweaver:before {
  content: "\ea70";
}
.scicon-doi-foundation-wordmark:before {
  content: "\ea71";
}
.scicon-doi-foundation:before {
  content: "\ea72";
}
.scicon-docusign-wordmark:before {
  content: "\ea73";
}
.scicon-docusign:before {
  content: "\ea74";
}
.scicon-docker-wordmark:before {
  content: "\ea75";
}
.scicon-docker:before {
  content: "\ea76";
}
.scicon-discourse:before {
  content: "\ea77";
}
.scicon-discord-wordmark:before {
  content: "\ea78";
}
.scicon-discord-text:before {
  content: "\ea79";
}
.scicon-discord:before {
  content: "\ea7a";
}
.scicon-digitalocean-wordmark:before {
  content: "\ea7b";
}
.scicon-digitalocean:before {
  content: "\ea7c";
}
.scicon-diagrams-net:before {
  content: "\ea7d";
}
.scicon-dhl:before {
  content: "\ea7e";
}
.scicon-delphi-lang-alt:before {
  content: "\ea7f";
}
.scicon-delphi-lang:before {
  content: "\ea80";
}
.scicon-dell-alt:before {
  content: "\ea81";
}
.scicon-dell:before {
  content: "\ea82";
}
.scicon-deezer-wordmark:before {
  content: "\ea83";
}
.scicon-deezer:before {
  content: "\ea84";
}
.scicon-dailymotion-wordmark:before {
  content: "\ea85";
}
.scicon-dailymotion-alt:before {
  content: "\ea86";
}
.scicon-dailymotion:before {
  content: "\ea87";
}
.scicon-css-wordmark:before {
  content: "\ea88";
}
.scicon-css:before {
  content: "\ea89";
}
.scicon-c-sharp:before {
  content: "\ea8a";
}
.scicon-crossref-wordmark:before {
  content: "\ea8b";
}
.scicon-crossref:before {
  content: "\ea8c";
}
.scicon-creative-cloud:before {
  content: "\ea8d";
}
.scicon-cpp-lang:before {
  content: "\ea8e";
}
.scicon-cpanel:before {
  content: "\ea8f";
}
.scicon-coursera-wordmark:before {
  content: "\ea90";
}
.scicon-coursera:before {
  content: "\ea91";
}
.scicon-corsair-wordmark-horizontal:before {
  content: "\ea92";
}
.scicon-corsair-wordmark:before {
  content: "\ea93";
}
.scicon-corsair:before {
  content: "\ea94";
}
.scicon-compaq-wordmark:before {
  content: "\ea95";
}
.scicon-compaq:before {
  content: "\ea96";
}
.scicon-commodore:before {
  content: "\ea97";
}
.scicon-codepen:before {
  content: "\ea98";
}
.scicon-cnn:before {
  content: "\ea99";
}
.scicon-clubhouse:before {
  content: "\ea9a";
}
.scicon-cloudflare-wordmark:before {
  content: "\ea9b";
}
.scicon-cloudflare:before {
  content: "\ea9c";
}
.scicon-c-lang-alt:before {
  content: "\ea9d";
}
.scicon-c-lang:before {
  content: "\ea9e";
}
.scicon-chrome:before {
  content: "\ea9f";
}
.scicon-carrefour-wordmark:before {
  content: "\eaa0";
}
.scicon-carrefour:before {
  content: "\eaa1";
}
.scicon-canva-alt:before {
  content: "\eaa2";
}
.scicon-canva:before {
  content: "\eaa3";
}
.scicon-buy-me-a-coffee-wordmark:before {
  content: "\eaa4";
}
.scicon-buy-me-a-coffee:before {
  content: "\eaa5";
}
.scicon-brave-wordmark:before {
  content: "\eaa6";
}
.scicon-brave-text:before {
  content: "\eaa7";
}
.scicon-brave:before {
  content: "\eaa8";
}
.scicon-bootstrap:before {
  content: "\eaa9";
}
.scicon-bluetooth-b:before {
  content: "\eaaa";
}
.scicon-bluetooth:before {
  content: "\eaab";
}
.scicon-blogger-b:before {
  content: "\eaac";
}
.scicon-blogger:before {
  content: "\eaad";
}
.scicon-bing:before {
  content: "\eaae";
}
.scicon-bim:before {
  content: "\eaaf";
}
.scicon-behance-alt:before {
  content: "\eab0";
}
.scicon-behance:before {
  content: "\eab1";
}
.scicon-bbc:before {
  content: "\eab2";
}
.scicon-azure:before {
  content: "\eab3";
}
.scicon-authy-wordmark:before {
  content: "\eab4";
}
.scicon-authy-alt:before {
  content: "\eab5";
}
.scicon-authy:before {
  content: "\eab6";
}
.scicon-audacity:before {
  content: "\eab7";
}
.scicon-atom-editor:before {
  content: "\eab8";
}
.scicon-atlassian-wordmark-alt:before {
  content: "\eab9";
}
.scicon-atlassian-wordmark:before {
  content: "\eaba";
}
.scicon-atlassian:before {
  content: "\eabb";
}
.scicon-asus:before {
  content: "\eabc";
}
.scicon-arxiv-wordmark:before {
  content: "\eabd";
}
.scicon-arxiv:before {
  content: "\eabe";
}
.scicon-armut-wordmark:before {
  content: "\eabf";
}
.scicon-armut-text:before {
  content: "\eac0";
}
.scicon-armut:before {
  content: "\eac1";
}
.scicon-arm:before {
  content: "\eac2";
}
.scicon-arduino-wordmark:before {
  content: "\eac3";
}
.scicon-arduino:before {
  content: "\eac4";
}
.scicon-archlinux-wordmark:before {
  content: "\eac5";
}
.scicon-archlinux:before {
  content: "\eac6";
}
.scicon-appstore:before {
  content: "\eac7";
}
.scicon-apple-tv-plus:before {
  content: "\eac8";
}
.scicon-apple-tv:before {
  content: "\eac9";
}
.scicon-apple-pay:before {
  content: "\eaca";
}
.scicon-apple-inc:before {
  content: "\eacb";
}
.scicon-apod:before {
  content: "\eacc";
}
.scicon-apache-wordmark:before {
  content: "\eacd";
}
.scicon-apache:before {
  content: "\eace";
}
.scicon-angular:before {
  content: "\eacf";
}
.scicon-android-wordmark:before {
  content: "\ead0";
}
.scicon-android-tv:before {
  content: "\ead1";
}
.scicon-android:before {
  content: "\ead2";
}
.scicon-amd-alt:before {
  content: "\ead3";
}
.scicon-amd:before {
  content: "\ead4";
}
.scicon-amazon-ws:before {
  content: "\ead5";
}
.scicon-amazon-pay:before {
  content: "\ead6";
}
.scicon-amazon-lightsail-wordmark:before {
  content: "\ead7";
}
.scicon-amazon-lightsail:before {
  content: "\ead8";
}
.scicon-amazon-a:before {
  content: "\ead9";
}
.scicon-amazon:before {
  content: "\eada";
}
.scicon-airbnb-wordmark:before {
  content: "\eadb";
}
.scicon-airbnb:before {
  content: "\eadc";
}
.scicon-after-effects:before {
  content: "\eadd";
}
.scicon-adobe-wordmark:before {
  content: "\eade";
}
.scicon-adobe-fuse:before {
  content: "\eadf";
}
.scicon-adobe-animate:before {
  content: "\eae0";
}
.scicon-adobe:before {
  content: "\eae1";
}
.scicon-adidas:before {
  content: "\eae2";
}
.scicon-adafruit-wordmark:before {
  content: "\eae3";
}
.scicon-adafruit:before {
  content: "\eae4";
}
.scicon-acrobat:before {
  content: "\eae5";
}
.scicon-academia-wordmark:before {
  content: "\eae6";
}
.scicon-academia:before {
  content: "\eae7";
}
.scicon-px:before {
  content: "\eae8";
}
