$icomoon-font-family: "Scicon" !default;
$icomoon-font-path: "fonts" !default;

$scicon-zotero-wordmark: unquote('"\\e900"');
$scicon-zoterobib: unquote('"\\e901"');
$scicon-zotero: unquote('"\\e902"');
$scicon-zendesk-wordmark: unquote('"\\e903"');
$scicon-zendesk: unquote('"\\e904"');
$scicon-zapier: unquote('"\\e905"');
$scicon-youtube-wordmark: unquote('"\\e906"');
$scicon-youtube-text: unquote('"\\e907"');
$scicon-youtube-play: unquote('"\\e908"');
$scicon-youtube: unquote('"\\e909"');
$scicon-yarn-wordmark: unquote('"\\e90a"');
$scicon-yarn-text: unquote('"\\e90b"');
$scicon-yarn: unquote('"\\e90c"');
$scicon-yandex-wordmark: unquote('"\\e90d"');
$scicon-yandex-ru-wordmark: unquote('"\\e90e"');
$scicon-yandex-ru: unquote('"\\e90f"');
$scicon-yandex: unquote('"\\e910"');
$scicon-yaml: unquote('"\\e911"');
$scicon-yahoo-wordmark: unquote('"\\e912"');
$scicon-yahoo: unquote('"\\e913"');
$scicon-x-corp: unquote('"\\e914"');
$scicon-xbox: unquote('"\\e915"');
$scicon-xai: unquote('"\\e916"');
$scicon-wordpress: unquote('"\\e917"');
$scicon-wixcom: unquote('"\\e918"');
$scicon-wikipedia: unquote('"\\e919"');
$scicon-wikimedia-wordmark: unquote('"\\e91a"');
$scicon-wikimedia-text: unquote('"\\e91b"');
$scicon-wikimedia-commons: unquote('"\\e91c"');
$scicon-wikimedia: unquote('"\\e91d"');
$scicon-whatsapp: unquote('"\\e91e"');
$scicon-wayback-machine: unquote('"\\e91f"');
$scicon-w3c: unquote('"\\e920"');
$scicon-vuejs: unquote('"\\e921"');
$scicon-vsc-insiders: unquote('"\\e922"');
$scicon-visual-studio-code: unquote('"\\e923"');
$scicon-visual-studio: unquote('"\\e924"');
$scicon-vimeo-text: unquote('"\\e925"');
$scicon-vimeo: unquote('"\\e926"');
$scicon-vercel-wordmark: unquote('"\\e927"');
$scicon-vercel: unquote('"\\e928"');
$scicon-usb: unquote('"\\e929"');
$scicon-ups: unquote('"\\e92a"');
$scicon-unity-wordmark: unquote('"\\e92b"');
$scicon-unity: unquote('"\\e92c"');
$scicon-ubuntu-alt: unquote('"\\e92d"');
$scicon-ubuntu: unquote('"\\e92e"');
$scicon-typo3-wordmark: unquote('"\\e92f"');
$scicon-typo3: unquote('"\\e930"');
$scicon-typescript-rounded: unquote('"\\e931"');
$scicon-typescript: unquote('"\\e932"');
$scicon-twitter: unquote('"\\e933"');
$scicon-twitch: unquote('"\\e934"');
$scicon-tumblr-text: unquote('"\\e935"');
$scicon-tumblr: unquote('"\\e936"');
$scicon-tubitak-wordmark: unquote('"\\e937"');
$scicon-tubitak: unquote('"\\e938"');
$scicon-tua-wordmark: unquote('"\\e939"');
$scicon-tua: unquote('"\\e93a"');
$scicon-ttec-wordmark: unquote('"\\e93b"');
$scicon-ttec: unquote('"\\e93c"');
$scicon-ts-node-wordmark: unquote('"\\e93d"');
$scicon-ts-node: unquote('"\\e93e"');
$scicon-tplink-wordmark: unquote('"\\e93f"');
$scicon-tplink: unquote('"\\e940"');
$scicon-topaz-labs-wordmark: unquote('"\\e941"');
$scicon-topaz-labs: unquote('"\\e942"');
$scicon-tiktok-text: unquote('"\\e943"');
$scicon-tiktok: unquote('"\\e944"');
$scicon-threads: unquote('"\\e945"');
$scicon-teyit-alt: unquote('"\\e946"');
$scicon-teyit: unquote('"\\e947"');
$scicon-tesla-wordmark: unquote('"\\e948"');
$scicon-tesla-text: unquote('"\\e949"');
$scicon-tesla-inc: unquote('"\\e94a"');
$scicon-telegram-rounded: unquote('"\\e94b"');
$scicon-telegram: unquote('"\\e94c"');
$scicon-tailwind-wordmark: unquote('"\\e94d"');
$scicon-tailwind: unquote('"\\e94e"');
$scicon-swift: unquote('"\\e94f"');
$scicon-sublime-text-wordmark: unquote('"\\e950"');
$scicon-sublime-text: unquote('"\\e951"');
$scicon-stripe-s: unquote('"\\e952"');
$scicon-stripe: unquote('"\\e953"');
$scicon-steam: unquote('"\\e954"');
$scicon-stackoverflow-wordmark: unquote('"\\e955"');
$scicon-stackoverflow-text: unquote('"\\e956"');
$scicon-stackoverflow: unquote('"\\e957"');
$scicon-squarespace-wordmark: unquote('"\\e958"');
$scicon-squarespace: unquote('"\\e959"');
$scicon-sqlite-wordmark: unquote('"\\e95a"');
$scicon-sqlite: unquote('"\\e95b"');
$scicon-spotify-wordmark: unquote('"\\e95c"');
$scicon-spotify-text: unquote('"\\e95d"');
$scicon-spotify: unquote('"\\e95e"');
$scicon-spacex-alt: unquote('"\\e95f"');
$scicon-spacex: unquote('"\\e960"');
$scicon-slack-wordmark: unquote('"\\e961"');
$scicon-slack: unquote('"\\e962"');
$scicon-skype: unquote('"\\e963"');
$scicon-shutterstock-wordmark: unquote('"\\e964"');
$scicon-shutterstock: unquote('"\\e965"');
$scicon-shopify-wordmark: unquote('"\\e966"');
$scicon-shopify-text: unquote('"\\e967"');
$scicon-shopify: unquote('"\\e968"');
$scicon-scihook-square: unquote('"\\e969"');
$scicon-scihook-alt: unquote('"\\e96a"');
$scicon-scihook: unquote('"\\e96b"');
$scicon-scicon: unquote('"\\e96c"');
$scicon-sass: unquote('"\\e96d"');
$scicon-samsung-alt: unquote('"\\e96e"');
$scicon-samsung: unquote('"\\e96f"');
$scicon-rotten-tomatoes-wordmark: unquote('"\\e970"');
$scicon-rotten-tomatoes: unquote('"\\e971"');
$scicon-researchgate-alt: unquote('"\\e972"');
$scicon-researchgate: unquote('"\\e973"');
$scicon-redhat: unquote('"\\e974"');
$scicon-reddit-wordmark: unquote('"\\e975"');
$scicon-reddit-text: unquote('"\\e976"');
$scicon-reddit-alt: unquote('"\\e977"');
$scicon-reddit: unquote('"\\e978"');
$scicon-react: unquote('"\\e979"');
$scicon-razer-wordmark: unquote('"\\e97a"');
$scicon-razer: unquote('"\\e97b"');
$scicon-raspberry-pi: unquote('"\\e97c"');
$scicon-quora-alt: unquote('"\\e97d"');
$scicon-quora: unquote('"\\e97e"');
$scicon-python: unquote('"\\e97f"');
$scicon-product-hunt-wordmark: unquote('"\\e980"');
$scicon-product-hunt: unquote('"\\e981"');
$scicon-prisma-wordmark: unquote('"\\e982"');
$scicon-prisma: unquote('"\\e983"');
$scicon-prime-video: unquote('"\\e984"');
$scicon-premiere-pro: unquote('"\\e985"');
$scicon-prelude: unquote('"\\e986"');
$scicon-postman-wordmark: unquote('"\\e987"');
$scicon-postman: unquote('"\\e988"');
$scicon-popsci: unquote('"\\e989"');
$scicon-playstore: unquote('"\\e98a"');
$scicon-playstation: unquote('"\\e98b"');
$scicon-pixabay: unquote('"\\e98c"');
$scicon-pinterest-wordmark: unquote('"\\e98d"');
$scicon-pinterest-text: unquote('"\\e98e"');
$scicon-pinterest-alt: unquote('"\\e98f"');
$scicon-pinterest: unquote('"\\e990"');
$scicon-php-text: unquote('"\\e991"');
$scicon-php: unquote('"\\e992"');
$scicon-photoshop: unquote('"\\e993"');
$scicon-philips: unquote('"\\e994"');
$scicon-pexels-wordmark: unquote('"\\e995"');
$scicon-pexels: unquote('"\\e996"');
$scicon-perl-camel: unquote('"\\e997"');
$scicon-perl: unquote('"\\e998"');
$scicon-periodum: unquote('"\\e999"');
$scicon-paypal-wordmark: unquote('"\\e99a"');
$scicon-paypal-text: unquote('"\\e99b"');
$scicon-paypal: unquote('"\\e99c"');
$scicon-patreon-text: unquote('"\\e99d"');
$scicon-patreon: unquote('"\\e99e"');
$scicon-orcid: unquote('"\\e99f"');
$scicon-oracle: unquote('"\\e9a0"');
$scicon-opensuse-wordmark: unquote('"\\e9a1"');
$scicon-opensuse-text: unquote('"\\e9a2"');
$scicon-opensuse: unquote('"\\e9a3"');
$scicon-openssl: unquote('"\\e9a4"');
$scicon-open-bug-bounty: unquote('"\\e9a5"');
$scicon-openai-wordmark: unquote('"\\e9a6"');
$scicon-openai-text: unquote('"\\e9a7"');
$scicon-openai: unquote('"\\e9a8"');
$scicon-odysee-wordmark: unquote('"\\e9a9"');
$scicon-odysee: unquote('"\\e9aa"');
$scicon-nvidia-wordmark: unquote('"\\e9ab"');
$scicon-nvidia: unquote('"\\e9ac"');
$scicon-nsf: unquote('"\\e9ad"');
$scicon-npm-text: unquote('"\\e9ae"');
$scicon-npm-alt: unquote('"\\e9af"');
$scicon-npm: unquote('"\\e9b0"');
$scicon-notion: unquote('"\\e9b1"');
$scicon-nokia-old: unquote('"\\e9b2"');
$scicon-nokia-n: unquote('"\\e9b3"');
$scicon-nokia: unquote('"\\e9b4"');
$scicon-nodemon-alt: unquote('"\\e9b5"');
$scicon-nodemon: unquote('"\\e9b6"');
$scicon-nodejs-wordmark: unquote('"\\e9b7"');
$scicon-nodejs-js: unquote('"\\e9b8"');
$scicon-nodejs: unquote('"\\e9b9"');
$scicon-nike: unquote('"\\e9ba"');
$scicon-ngrok: unquote('"\\e9bb"');
$scicon-nextjs-wordmark: unquote('"\\e9bc"');
$scicon-nextjs: unquote('"\\e9bd"');
$scicon-neuralink-wordmark: unquote('"\\e9be"');
$scicon-neuralink: unquote('"\\e9bf"');
$scicon-netlify-wordmark: unquote('"\\e9c0"');
$scicon-netlify-alt: unquote('"\\e9c1"');
$scicon-netlify: unquote('"\\e9c2"');
$scicon-netflix-wordmark: unquote('"\\e9c3"');
$scicon-netflix: unquote('"\\e9c4"');
$scicon-nature-text: unquote('"\\e9c5"');
$scicon-nature: unquote('"\\e9c6"');
$scicon-nasa-worm: unquote('"\\e9c7"');
$scicon-nasa: unquote('"\\e9c8"');
$scicon-mysql-text: unquote('"\\e9c9"');
$scicon-mysql-mark: unquote('"\\e9ca"');
$scicon-mysql: unquote('"\\e9cb"');
$scicon-mubi-wordmark: unquote('"\\e9cc"');
$scicon-mubi: unquote('"\\e9cd"');
$scicon-msi: unquote('"\\e9ce"');
$scicon-mozilla: unquote('"\\e9cf"');
$scicon-mongodb-wordmark: unquote('"\\e9d0"');
$scicon-mongodb-leaf: unquote('"\\e9d1"');
$scicon-microsoft-wordmark: unquote('"\\e9d2"');
$scicon-microsoft-text: unquote('"\\e9d3"');
$scicon-microsoft-teams: unquote('"\\e9d4"');
$scicon-microsoft-365: unquote('"\\e9d5"');
$scicon-microsoft: unquote('"\\e9d6"');
$scicon-meteoroloji-gm: unquote('"\\e9d7"');
$scicon-meta-wordmark: unquote('"\\e9d8"');
$scicon-metacritic-wordmark: unquote('"\\e9d9"');
$scicon-metacritic: unquote('"\\e9da"');
$scicon-meta: unquote('"\\e9db"');
$scicon-messenger-alt: unquote('"\\e9dc"');
$scicon-messenger: unquote('"\\e9dd"');
$scicon-mercedes: unquote('"\\e9de"');
$scicon-medium-wordmark: unquote('"\\e9df"');
$scicon-medium-text: unquote('"\\e9e0"');
$scicon-medium: unquote('"\\e9e1"');
$scicon-maxcdn: unquote('"\\e9e2"');
$scicon-matlab: unquote('"\\e9e3"');
$scicon-mathjax-wordmark: unquote('"\\e9e4"');
$scicon-mathjax: unquote('"\\e9e5"');
$scicon-mastodon: unquote('"\\e9e6"');
$scicon-markdown-alt: unquote('"\\e9e7"');
$scicon-markdown: unquote('"\\e9e8"');
$scicon-manjaro: unquote('"\\e9e9"');
$scicon-livescience-wordmark: unquote('"\\e9ea"');
$scicon-livescience: unquote('"\\e9eb"');
$scicon-linux-foundation-wordmark-alt: unquote('"\\e9ec"');
$scicon-linux-foundation-wordmark: unquote('"\\e9ed"');
$scicon-linux-foundation: unquote('"\\e9ee"');
$scicon-linkedin-wordmark: unquote('"\\e9ef"');
$scicon-linkedin: unquote('"\\e9f0"');
$scicon-lightroom-classic: unquote('"\\e9f1"');
$scicon-lightroom: unquote('"\\e9f2"');
$scicon-libreoffice-wordmark: unquote('"\\e9f3"');
$scicon-libreoffice: unquote('"\\e9f4"');
$scicon-laravel-wordmark: unquote('"\\e9f5"');
$scicon-laravel: unquote('"\\e9f6"');
$scicon-kurzgesagt: unquote('"\\e9f7"');
$scicon-krisp-wordmark: unquote('"\\e9f8"');
$scicon-krisp: unquote('"\\e9f9"');
$scicon-kreosus-wordmark: unquote('"\\e9fa"');
$scicon-kreosus: unquote('"\\e9fb"');
$scicon-ko-fi-wordmark: unquote('"\\e9fc"');
$scicon-ko-fi: unquote('"\\e9fd"');
$scicon-kickstarter-wordmark: unquote('"\\e9fe"');
$scicon-kickstarter: unquote('"\\e9ff"');
$scicon-khan-academy-wordmark: unquote('"\\ea00"');
$scicon-khan-academy-text: unquote('"\\ea01"');
$scicon-khan-academy-alt: unquote('"\\ea02"');
$scicon-khan-academy: unquote('"\\ea03"');
$scicon-keysight-wordmark: unquote('"\\ea04"');
$scicon-keysight: unquote('"\\ea05"');
$scicon-katex: unquote('"\\ea06"');
$scicon-jsdelivr-wordmark: unquote('"\\ea07"');
$scicon-jsdelivr-text: unquote('"\\ea08"');
$scicon-jsdelivr: unquote('"\\ea09"');
$scicon-jquery-wordmark: unquote('"\\ea0a"');
$scicon-jquery-slogan: unquote('"\\ea0b"');
$scicon-jquery: unquote('"\\ea0c"');
$scicon-jira-software-wordmark: unquote('"\\ea0d"');
$scicon-jira-software: unquote('"\\ea0e"');
$scicon-java-wordmark: unquote('"\\ea0f"');
$scicon-javascript-text: unquote('"\\ea10"');
$scicon-javascript: unquote('"\\ea11"');
$scicon-java: unquote('"\\ea12"');
$scicon-internet-archive-wordmark: unquote('"\\ea13"');
$scicon-internet-archive: unquote('"\\ea14"');
$scicon-intel: unquote('"\\ea15"');
$scicon-instagram-alt: unquote('"\\ea16"');
$scicon-instagram: unquote('"\\ea17"');
$scicon-inkscape: unquote('"\\ea18"');
$scicon-indesign: unquote('"\\ea19"');
$scicon-incopy: unquote('"\\ea1a"');
$scicon-imgur: unquote('"\\ea1b"');
$scicon-imdb-text: unquote('"\\ea1c"');
$scicon-imdb: unquote('"\\ea1d"');
$scicon-illustrator: unquote('"\\ea1e"');
$scicon-ibm: unquote('"\\ea1f"');
$scicon-hyperx: unquote('"\\ea20"');
$scicon-hubspot-wordmark: unquote('"\\ea21"');
$scicon-hubspot: unquote('"\\ea22"');
$scicon-huawei-wordmark: unquote('"\\ea23"');
$scicon-huawei-text: unquote('"\\ea24"');
$scicon-huawei: unquote('"\\ea25"');
$scicon-html5-wordmark: unquote('"\\ea26"');
$scicon-html5: unquote('"\\ea27"');
$scicon-hp: unquote('"\\ea28"');
$scicon-hantek: unquote('"\\ea29"');
$scicon-guilded-wordmark: unquote('"\\ea2a"');
$scicon-guilded: unquote('"\\ea2b"');
$scicon-grammarly-wordmark: unquote('"\\ea2c"');
$scicon-grammarly: unquote('"\\ea2d"');
$scicon-google-text: unquote('"\\ea2e"');
$scicon-google-scholar: unquote('"\\ea2f"');
$scicon-google-pay: unquote('"\\ea30"');
$scicon-google: unquote('"\\ea31"');
$scicon-go-lang: unquote('"\\ea32"');
$scicon-go-gopher: unquote('"\\ea33"');
$scicon-godaddy-wordmark: unquote('"\\ea34"');
$scicon-godaddy: unquote('"\\ea35"');
$scicon-gmail: unquote('"\\ea36"');
$scicon-git-wordmark: unquote('"\\ea37"');
$scicon-git-text: unquote('"\\ea38"');
$scicon-gitlab-wordmark: unquote('"\\ea39"');
$scicon-gitlab-text: unquote('"\\ea3a"');
$scicon-gitlab: unquote('"\\ea3b"');
$scicon-github-text: unquote('"\\ea3c"');
$scicon-github: unquote('"\\ea3d"');
$scicon-gitbook-wordmark: unquote('"\\ea3e"');
$scicon-gitbook: unquote('"\\ea3f"');
$scicon-git: unquote('"\\ea40"');
$scicon-giphy-wordmark: unquote('"\\ea41"');
$scicon-giphy-text: unquote('"\\ea42"');
$scicon-giphy: unquote('"\\ea43"');
$scicon-gimp: unquote('"\\ea44"');
$scicon-gatsby-wordmark: unquote('"\\ea45"');
$scicon-gatsby-alt: unquote('"\\ea46"');
$scicon-gatsby: unquote('"\\ea47"');
$scicon-f-sharp: unquote('"\\ea48"');
$scicon-freecodecamp: unquote('"\\ea49"');
$scicon-fortran: unquote('"\\ea4a"');
$scicon-font-awesome: unquote('"\\ea4b"');
$scicon-flutter-wordmark: unquote('"\\ea4c"');
$scicon-flutter: unquote('"\\ea4d"');
$scicon-flickr-wordmark: unquote('"\\ea4e"');
$scicon-flickr: unquote('"\\ea4f"');
$scicon-flaticon-wordmark: unquote('"\\ea50"');
$scicon-flaticon: unquote('"\\ea51"');
$scicon-firefox: unquote('"\\ea52"');
$scicon-fedora-wordmark: unquote('"\\ea53"');
$scicon-fedora-text: unquote('"\\ea54"');
$scicon-fedora-alt: unquote('"\\ea55"');
$scicon-fedora: unquote('"\\ea56"');
$scicon-facebook-f: unquote('"\\ea57"');
$scicon-facebook: unquote('"\\ea58"');
$scicon-evrimagaci-alt: unquote('"\\ea59"');
$scicon-evrimagaci: unquote('"\\ea5a"');
$scicon-evernote-wordmark: unquote('"\\ea5b"');
$scicon-evernote: unquote('"\\ea5c"');
$scicon-etsy-e: unquote('"\\ea5d"');
$scicon-etsy: unquote('"\\ea5e"');
$scicon-esa-wordmark: unquote('"\\ea5f"');
$scicon-esa-text: unquote('"\\ea60"');
$scicon-esa: unquote('"\\ea61"');
$scicon-epic-games: unquote('"\\ea62"');
$scicon-envato: unquote('"\\ea63"');
$scicon-elgato-wordmark: unquote('"\\ea64"');
$scicon-elgato: unquote('"\\ea65"');
$scicon-electron-framework-alt: unquote('"\\ea66"');
$scicon-electron-framework: unquote('"\\ea67"');
$scicon-edge-old: unquote('"\\ea68"');
$scicon-edge-alt: unquote('"\\ea69"');
$scicon-edge: unquote('"\\ea6a"');
$scicon-ebay: unquote('"\\ea6b"');
$scicon-duolingo-wordmark: unquote('"\\ea6c"');
$scicon-duolingo-text: unquote('"\\ea6d"');
$scicon-duolingo: unquote('"\\ea6e"');
$scicon-dribbble: unquote('"\\ea6f"');
$scicon-dreamweaver: unquote('"\\ea70"');
$scicon-doi-foundation-wordmark: unquote('"\\ea71"');
$scicon-doi-foundation: unquote('"\\ea72"');
$scicon-docusign-wordmark: unquote('"\\ea73"');
$scicon-docusign: unquote('"\\ea74"');
$scicon-docker-wordmark: unquote('"\\ea75"');
$scicon-docker: unquote('"\\ea76"');
$scicon-discourse: unquote('"\\ea77"');
$scicon-discord-wordmark: unquote('"\\ea78"');
$scicon-discord-text: unquote('"\\ea79"');
$scicon-discord: unquote('"\\ea7a"');
$scicon-digitalocean-wordmark: unquote('"\\ea7b"');
$scicon-digitalocean: unquote('"\\ea7c"');
$scicon-diagrams-net: unquote('"\\ea7d"');
$scicon-dhl: unquote('"\\ea7e"');
$scicon-delphi-lang-alt: unquote('"\\ea7f"');
$scicon-delphi-lang: unquote('"\\ea80"');
$scicon-dell-alt: unquote('"\\ea81"');
$scicon-dell: unquote('"\\ea82"');
$scicon-deezer-wordmark: unquote('"\\ea83"');
$scicon-deezer: unquote('"\\ea84"');
$scicon-dailymotion-wordmark: unquote('"\\ea85"');
$scicon-dailymotion-alt: unquote('"\\ea86"');
$scicon-dailymotion: unquote('"\\ea87"');
$scicon-css-wordmark: unquote('"\\ea88"');
$scicon-css: unquote('"\\ea89"');
$scicon-c-sharp: unquote('"\\ea8a"');
$scicon-crossref-wordmark: unquote('"\\ea8b"');
$scicon-crossref: unquote('"\\ea8c"');
$scicon-creative-cloud: unquote('"\\ea8d"');
$scicon-cpp-lang: unquote('"\\ea8e"');
$scicon-cpanel: unquote('"\\ea8f"');
$scicon-coursera-wordmark: unquote('"\\ea90"');
$scicon-coursera: unquote('"\\ea91"');
$scicon-corsair-wordmark-horizontal: unquote('"\\ea92"');
$scicon-corsair-wordmark: unquote('"\\ea93"');
$scicon-corsair: unquote('"\\ea94"');
$scicon-compaq-wordmark: unquote('"\\ea95"');
$scicon-compaq: unquote('"\\ea96"');
$scicon-commodore: unquote('"\\ea97"');
$scicon-codepen: unquote('"\\ea98"');
$scicon-cnn: unquote('"\\ea99"');
$scicon-clubhouse: unquote('"\\ea9a"');
$scicon-cloudflare-wordmark: unquote('"\\ea9b"');
$scicon-cloudflare: unquote('"\\ea9c"');
$scicon-c-lang-alt: unquote('"\\ea9d"');
$scicon-c-lang: unquote('"\\ea9e"');
$scicon-chrome: unquote('"\\ea9f"');
$scicon-carrefour-wordmark: unquote('"\\eaa0"');
$scicon-carrefour: unquote('"\\eaa1"');
$scicon-canva-alt: unquote('"\\eaa2"');
$scicon-canva: unquote('"\\eaa3"');
$scicon-buy-me-a-coffee-wordmark: unquote('"\\eaa4"');
$scicon-buy-me-a-coffee: unquote('"\\eaa5"');
$scicon-brave-wordmark: unquote('"\\eaa6"');
$scicon-brave-text: unquote('"\\eaa7"');
$scicon-brave: unquote('"\\eaa8"');
$scicon-bootstrap: unquote('"\\eaa9"');
$scicon-bluetooth-b: unquote('"\\eaaa"');
$scicon-bluetooth: unquote('"\\eaab"');
$scicon-blogger-b: unquote('"\\eaac"');
$scicon-blogger: unquote('"\\eaad"');
$scicon-bing: unquote('"\\eaae"');
$scicon-bim: unquote('"\\eaaf"');
$scicon-behance-alt: unquote('"\\eab0"');
$scicon-behance: unquote('"\\eab1"');
$scicon-bbc: unquote('"\\eab2"');
$scicon-azure: unquote('"\\eab3"');
$scicon-authy-wordmark: unquote('"\\eab4"');
$scicon-authy-alt: unquote('"\\eab5"');
$scicon-authy: unquote('"\\eab6"');
$scicon-audacity: unquote('"\\eab7"');
$scicon-atom-editor: unquote('"\\eab8"');
$scicon-atlassian-wordmark-alt: unquote('"\\eab9"');
$scicon-atlassian-wordmark: unquote('"\\eaba"');
$scicon-atlassian: unquote('"\\eabb"');
$scicon-asus: unquote('"\\eabc"');
$scicon-arxiv-wordmark: unquote('"\\eabd"');
$scicon-arxiv: unquote('"\\eabe"');
$scicon-armut-wordmark: unquote('"\\eabf"');
$scicon-armut-text: unquote('"\\eac0"');
$scicon-armut: unquote('"\\eac1"');
$scicon-arm: unquote('"\\eac2"');
$scicon-arduino-wordmark: unquote('"\\eac3"');
$scicon-arduino: unquote('"\\eac4"');
$scicon-archlinux-wordmark: unquote('"\\eac5"');
$scicon-archlinux: unquote('"\\eac6"');
$scicon-appstore: unquote('"\\eac7"');
$scicon-apple-tv-plus: unquote('"\\eac8"');
$scicon-apple-tv: unquote('"\\eac9"');
$scicon-apple-pay: unquote('"\\eaca"');
$scicon-apple-inc: unquote('"\\eacb"');
$scicon-apod: unquote('"\\eacc"');
$scicon-apache-wordmark: unquote('"\\eacd"');
$scicon-apache: unquote('"\\eace"');
$scicon-angular: unquote('"\\eacf"');
$scicon-android-wordmark: unquote('"\\ead0"');
$scicon-android-tv: unquote('"\\ead1"');
$scicon-android: unquote('"\\ead2"');
$scicon-amd-alt: unquote('"\\ead3"');
$scicon-amd: unquote('"\\ead4"');
$scicon-amazon-ws: unquote('"\\ead5"');
$scicon-amazon-pay: unquote('"\\ead6"');
$scicon-amazon-lightsail-wordmark: unquote('"\\ead7"');
$scicon-amazon-lightsail: unquote('"\\ead8"');
$scicon-amazon-a: unquote('"\\ead9"');
$scicon-amazon: unquote('"\\eada"');
$scicon-airbnb-wordmark: unquote('"\\eadb"');
$scicon-airbnb: unquote('"\\eadc"');
$scicon-after-effects: unquote('"\\eadd"');
$scicon-adobe-wordmark: unquote('"\\eade"');
$scicon-adobe-fuse: unquote('"\\eadf"');
$scicon-adobe-animate: unquote('"\\eae0"');
$scicon-adobe: unquote('"\\eae1"');
$scicon-adidas: unquote('"\\eae2"');
$scicon-adafruit-wordmark: unquote('"\\eae3"');
$scicon-adafruit: unquote('"\\eae4"');
$scicon-acrobat: unquote('"\\eae5"');
$scicon-academia-wordmark: unquote('"\\eae6"');
$scicon-academia: unquote('"\\eae7"');
$scicon-px: unquote('"\\eae8"');

