$icomoon-font-family: "Scicon" !default;
$icomoon-font-path: "fonts" !default;

$scicon-amazon: "\e902";
$scicon-amazon-a: "\e903";
$scicon-apache: "\e904";
$scicon-apache-wordmark: "\e905";
$scicon-apple-inc: "\e906";
$scicon-appstore: "\e907";
$scicon-arduino: "\e908";
$scicon-arduino-wordmark: "\e909";
$scicon-bing: "\e90a";
$scicon-bootstrap: "\e90b";
$scicon-brave: "\e90c";
$scicon-brave-text: "\e90d";
$scicon-brave-wordmark: "\e90e";
$scicon-chrome: "\e90f";
$scicon-c-lang: "\e910";
$scicon-c-lang-alt: "\e911";
$scicon-cloudflare: "\e912";
$scicon-cloudflare-wordmark: "\e913";
$scicon-codepen: "\e914";
$scicon-cpanel: "\e915";
$scicon-cpp-lang: "\e916";
$scicon-creative-cloud: "\e917";
$scicon-c-sharp: "\e918";
$scicon-css: "\e919";
$scicon-css-wordmark: "\e91a";
$scicon-discord: "\e91b";
$scicon-discord-text: "\e91c";
$scicon-discord-wordmark: "\e91d";
$scicon-docker: "\e91e";
$scicon-docker-wordmark: "\e91f";
$scicon-dreamweaver: "\e920";
$scicon-dribbble: "\e921";
$scicon-edge: "\e922";
$scicon-edge-alt: "\e923";
$scicon-edge-old: "\e924";
$scicon-esa: "\e925";
$scicon-esa-text: "\e926";
$scicon-esa-wordmark: "\e927";
$scicon-facebook: "\e928";
$scicon-facebook-f: "\e929";
$scicon-firefox: "\e92a";
$scicon-flickr: "\e92b";
$scicon-flickr-wordmark: "\e92c";
$scicon-fortran: "\e92d";
$scicon-f-sharp: "\e92e";
$scicon-github: "\e92f";
$scicon-github-text: "\e930";
$scicon-gitlab: "\e931";
$scicon-gitlab-text: "\e932";
$scicon-gitlab-wordmark: "\e933";
$scicon-gmail: "\e934";
$scicon-go-gopher: "\e935";
$scicon-go-lang: "\e936";
$scicon-google: "\e937";
$scicon-google-text: "\e938";
$scicon-guilded: "\e939";
$scicon-guilded-wordmark: "\e93a";
$scicon-html5: "\e93b";
$scicon-html5-wordmark: "\e93c";
$scicon-ibm: "\e93d";
$scicon-illustrator: "\e93e";
$scicon-incopy: "\e93f";
$scicon-indesign: "\e940";
$scicon-instagram: "\e941";
$scicon-instagram-alt: "\e942";
$scicon-java: "\e943";
$scicon-javascript: "\e944";
$scicon-javascript-text: "\e945";
$scicon-java-wordmark: "\e946";
$scicon-jquery: "\e947";
$scicon-jquery-slogan: "\e948";
$scicon-jquery-wordmark: "\e949";
$scicon-jsdelivr: "\e94a";
$scicon-jsdelivr-text: "\e94b";
$scicon-jsdelivr-wordmark: "\e94c";
$scicon-khan-academy: "\e94d";
$scicon-khan-academy-alt: "\e94e";
$scicon-khan-academy-text: "\e94f";
$scicon-khan-academy-wordmark: "\e950";
$scicon-kickstarter: "\e951";
$scicon-kickstarter-wordmark: "\e952";
$scicon-lightroom: "\e953";
$scicon-lightroom-classic: "\e954";
$scicon-linkedin: "\e955";
$scicon-linkedin-wordmark: "\e956";
$scicon-markdown: "\e957";
$scicon-markdown-alt: "\e958";
$scicon-mastodon: "\e959";
$scicon-matlab: "\e95a";
$scicon-maxcdn: "\e95b";
$scicon-medium: "\e95c";
$scicon-medium-text: "\e95d";
$scicon-medium-wordmark: "\e95e";
$scicon-mercedes: "\e95f";
$scicon-messenger: "\e960";
$scicon-messenger-alt: "\e961";
$scicon-meta: "\e962";
$scicon-meta-wordmark: "\e963";
$scicon-microsoft: "\e964";
$scicon-microsoft-text: "\e965";
$scicon-microsoft-wordmark: "\e966";
$scicon-mongodb-leaf: "\e967";
$scicon-mongodb-wordmark: "\e968";
$scicon-mozilla: "\e969";
$scicon-mysql: "\e96a";
$scicon-mysql-mark: "\e96b";
$scicon-mysql-text: "\e96c";
$scicon-nasa: "\e96d";
$scicon-nasa-worm: "\e96e";
$scicon-nature: "\e96f";
$scicon-nature-text: "\e970";
$scicon-nodejs: "\e971";
$scicon-nodejs-js: "\e972";
$scicon-nodejs-wordmark: "\e973";
$scicon-npm: "\e974";
$scicon-npm-alt: "\e975";
$scicon-npm-text: "\e976";
$scicon-nsf: "\e977";
$scicon-openai: "\e978";
$scicon-openai-text: "\e979";
$scicon-openai-wordmark: "\e97a";
$scicon-orcid: "\e97b";
$scicon-patreon: "\e97c";
$scicon-patreon-text: "\e97d";
$scicon-perl: "\e97e";
$scicon-perl-camel: "\e97f";
$scicon-photoshop: "\e980";
$scicon-php: "\e981";
$scicon-php-text: "\e982";
$scicon-pinterest: "\e983";
$scicon-pinterest-alt: "\e984";
$scicon-pinterest-text: "\e985";
$scicon-pinterest-wordmark: "\e986";
$scicon-playstore: "\e987";
$scicon-prelude: "\e988";
$scicon-premiere-pro: "\e989";
$scicon-python: "\e98a";
$scicon-quora: "\e98b";
$scicon-quora-alt: "\e98c";
$scicon-react: "\e98d";
$scicon-reddit: "\e98e";
$scicon-reddit-alt: "\e98f";
$scicon-reddit-text: "\e990";
$scicon-reddit-wordmark: "\e991";
$scicon-researchgate: "\e992";
$scicon-researchgate-alt: "\e993";
$scicon-sass: "\e994";
$scicon-scihook: "\e995";
$scicon-scihook-alt: "\e996";
$scicon-scihook-square: "\e997";
$scicon-skype: "\e998";
$scicon-slack: "\e999";
$scicon-slack-wordmark: "\e99a";
$scicon-spacex: "\e99b";
$scicon-spacex-alt: "\e99c";
$scicon-spotify: "\e99d";
$scicon-spotify-text: "\e99e";
$scicon-spotify-wordmark: "\e99f";
$scicon-sqlite: "\e9a0";
$scicon-sqlite-wordmark: "\e9a1";
$scicon-stackoverflow: "\e9a2";
$scicon-stackoverflow-text: "\e9a3";
$scicon-stackoverflow-wordmark: "\e9a4";
$scicon-steam: "\e9a5";
$scicon-stripe: "\e9a6";
$scicon-stripe-s: "\e9a7";
$scicon-swift: "\e9a8";
$scicon-telegram: "\e9a9";
$scicon-telegram-rounded: "\e9aa";
$scicon-tesla-inc: "\e9ab";
$scicon-tesla-text: "\e9ac";
$scicon-tesla-wordmark: "\e9ad";
$scicon-threads: "\e9ae";
$scicon-tiktok: "\e9af";
$scicon-tiktok-text: "\e9b0";
$scicon-topaz-labs: "\e9b1";
$scicon-topaz-labs-wordmark: "\e9b2";
$scicon-tua: "\e9b3";
$scicon-tua-wordmark: "\e9b4";
$scicon-tubitak: "\e9b5";
$scicon-tubitak-wordmark: "\e9b6";
$scicon-tumblr: "\e9b7";
$scicon-tumblr-text: "\e9b8";
$scicon-twitch: "\e9b9";
$scicon-twitter: "\e9ba";
$scicon-typescript: "\e9bb";
$scicon-typescript-rounded: "\e9bc";
$scicon-unity: "\e9bd";
$scicon-unity-wordmark: "\e9be";
$scicon-ups: "\e9bf";
$scicon-vimeo: "\e9c0";
$scicon-vimeo-text: "\e9c1";
$scicon-visual-studio: "\e9c2";
$scicon-visual-studio-code: "\e9c3";
$scicon-vsc-insiders: "\e9c4";
$scicon-vuejs: "\e9c5";
$scicon-whatsapp: "\e9c6";
$scicon-wikimedia: "\e9c7";
$scicon-wikimedia-text: "\e9c8";
$scicon-wikimedia-wordmark: "\e9c9";
$scicon-wikipedia: "\e9ca";
$scicon-x-corp: "\e9cb";
$scicon-yahoo: "\e9cc";
$scicon-yahoo-wordmark: "\e9cd";
$scicon-yandex: "\e9ce";
$scicon-yandex-ru: "\e9cf";
$scicon-yandex-ru-wordmark: "\e9d0";
$scicon-yandex-wordmark: "\e9d1";
$scicon-youtube: "\e9d2";
$scicon-youtube-play: "\e9d3";
$scicon-youtube-text: "\e9d4";
$scicon-youtube-wordmark: "\e9d5";
$scicon-zendesk: "\e9d6";
$scicon-zendesk-wordmark: "\e9d7";
$scicon-zotero: "\e9d8";
$scicon-zoterobib: "\e9d9";
$scicon-zotero-wordmark: "\e9da";
$scicon-acrobat: "\e9db";
$scicon-adobe: "\e9dc";
$scicon-adobe-animate: "\e9dd";
$scicon-adobe-fuse: "\e9de";
$scicon-adobe-wordmark: "\e9df";
$scicon-after-effects: "\e9e0";

